# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      eslint:
        patterns:
          - "*eslint*"
          - "globals"
          - "neostandard"
      stylelint:
        patterns:
          - "*stylelint*"
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "composer"
    directory: "/lib/"
    schedule:
      interval: "monthly"
