# https://EditorConfig.org

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,js,json,sql}]
indent_style = tab

[*.html]
indent_size = 2
indent_style = space

[*.{markdown,md}]
indent_size = 4
indent_style = space
max_line_length = off
trim_trailing_whitespace = false

[*.php]
indent_size = 4
indent_style = space

[*.{yaml,yml}]
indent_size = 2
indent_style = space
