# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided this notice is
# preserved.  This file is offered as-is, without any warranty.
# Names of contributors must not be used to endorse or promote products
# derived from this file without specific prior written permission.

# EditorConfig
# http://EditorConfig.org

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.php]
indent_style = tab
indent_size = 4
insert_final_newline = true
