# http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,scss}]
indent_style = tab

[*.{html,php,phtml}]
indent_size = 4
indent_style = tab

[*.js]
indent_size = 4
indent_style = tab

[*.xml]
indent_size = 4
indent_style = tab

[*.yml]
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab
