/.htaccess
/bin/
/constants.local.php
/data.back/
/extensions/node_modules/
/extensions/vendor/
/node_modules/
/phpstan.neon
/vendor/

.vscode/

/docs/_site/
/docs/.sass-cache/

# Temp files
*~
*.bak
*.backup
*.cache
\#*
.\#*
*\#
*.swp
*.swap
*.sav
*.save
*.autosav
*.autosave
