parameters:
	# TODO: Increase rule-level https://phpstan.org/user-guide/rule-levels
	level: 5
	fileExtensions:
		- php
		- phtml
	paths:
		- .
	excludePaths:
		- lib/SimplePie/*
		- node_modules/*
		# TODO: include tests
		- tests/*
		- vendor/*
	scanDirectories:
		- lib/SimplePie/
	bootstrapFiles:
		- vendor/autoload.php
		- cli/_cli.php
		- app/SQL/install.sql.sqlite.php
