includes:
	- phpstan.neon

parameters:
	level: 9
	excludePaths:
		analyse:
			# TODO: Update files below and remove them from this list
			- app/Controllers/configureController.php
			- app/Controllers/importExportController.php
			- app/Models/DatabaseDAO.php
			- app/Models/Entry.php
			- app/Models/Feed.php
			- app/Services/ImportService.php
			- app/views/configure/archiving.phtml
			- app/views/helpers/feed/update.phtml
			- lib/Minz/Helper.php
			- lib/Minz/Request.php
