#summary_ids {
	display: none;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

/* Style for the loading animation */
.loader .spinner {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

/* Animation for the loading spinner */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.badge-button {
	position: relative;
	padding: 0 20px;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	font-size: 8px;
	padding: 1px 4px;
	border-radius: 50%;
}

.content {
	margin-left: 30%;
	margin-right: 30%;
	padding: 20px;

	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

@media screen and (max-width: 600px) {
	.content {
		margin-left: 2%;
		margin-right: 2%;
	}
}

p {
	margin-bottom: 20px;
}

ul, ol {
	margin-left: 20px;
}

