<IfModule mod_dir.c>
	DirectoryIndex	index.php index.html
</IfModule>

FileETag	None
AddDefaultCharset	UTF-8

<IfModule mod_mime.c>
	AddType application/json .map
	AddType application/font-woff .woff
	AddType application/font-woff2 .woff2

	AddCharset	UTF-8	.css
	AddCharset	UTF-8	.html
	AddCharset	UTF-8	.js
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/javascript application/json application/xhtml+xml image/svg+xml text/css text/html text/javascript
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive	on
	ExpiresByType	application/font-woff	"access plus 1 month"
	ExpiresByType	application/font-woff2	"access plus 1 month"
	ExpiresByType	application/javascript	"access plus 1 month"
	ExpiresByType	application/xhtml+xml	"access plus 1 month"
	ExpiresByType	image/x-icon	"access plus 1 month"
	ExpiresByType	text/html	"access plus 1 month"
	ExpiresByType	text/javascript	"access plus 1 month"
	<FilesMatch "\.php$">
		ExpiresActive	Off
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(css|gif|html|ico|js|png|svg|woff|woff2)$">
		Header	merge Cache-Control "public"
	</FilesMatch>
	Header edit Set-Cookie ^(.*)$ "$1; SameSite=Strict"
</IfModule>
