@charset "UTF-8";

/*=== FONTS */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/openSans.woff") format("woff");
}

/*=== GENERAL */
/*============*/
html, body {
	height: 100%;
	font-family: "OpenSans", "Cantarell", "Helvetica", "Arial", sans-serif;
	background: #fafafa;
}

/*=== Links */
a {
	color: #2980b9;
	outline: none;
}

/*=== Forms */
legend {
	display: inline-block;
	width: auto;
	margin: 20px 0 5px;
	padding: 5px 20px;
	font-size: 1.4em;
	clear: both;
	background: #ecf0f1;
	border-radius: 20px;
}
label {
	min-height: 25px;
	padding: 5px 0;
	cursor: pointer;
	color: #444;
}
textarea {
	width: 360px;
	height: 100px;
}
input, select, textarea {
	min-height: 25px;
	padding: 5px;
	line-height: 25px;
	vertical-align: middle;
	background: #fff;
	border: none;
	border-bottom: 3px solid #ddd;
	color: #666;
	border-radius: 5px;
}
option {
	padding: 0 .5em;
}
input:focus, select:focus, textarea:focus {
	color: #333;
	border-color: #2980b9;
}
input:invalid, select:invalid {
	color: #f00;
	border-color: #f00;
	box-shadow: none;
}
input:disabled, select:disabled {
	background: #eee;
}
input.extend {
	transition: width 200ms linear;
	-moz-transition: width 200ms linear;
	-webkit-transition: width 200ms linear;
	-o-transition: width 200ms linear;
	-ms-transition: width 200ms linear;
}

/*=== Tables */
table {
	border-collapse: collapse;
}

tr, th, td {
	padding: 0.5em;
	border: 1px solid #ddd;
}
th {
	background: #f6f6f6;
}
form td,
form th {
	font-weight: normal;
	text-align: center;
}

/*=== COMPONENTS */
/*===============*/
/*=== Forms */
.form-group {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 3px;
}
.form-group:after {
	content: "";
	display: block;
	clear: both;
}
.form-group:hover {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	border: 1px solid #eee;
}
.form-group.form-actions {
	margin: 15px 0 25px;
	padding: 5px 0;
	background: #ecf0f1;
	border-top: 3px solid #bdc3c7;
	border-radius: 5px 5px 0 0;
}
.form-group.form-actions .btn {
	margin: 0 10px;
}
.form-group .group-name {
	padding: 10px 0;
	text-align: right;
}
.form-group .group-controls {
	min-height: 25px;
	padding: 5px 0;
}
.form-group .group-controls .control {
	line-height: 2.0em;
}
.form-group table {
	margin: 10px 0 0 220px;
}

/*=== Buttons */
.stick {
	vertical-align: middle;
	font-size: 0;
}
.stick input,
.stick .btn {
	border-radius: 0;
}
.stick .btn:first-child,
.stick input:first-child {
	border-radius: 5px 0 0 5px;
}
.stick .btn:last-child,
.stick input:last-child,
.stick .btn + .dropdown > .btn {
	border-radius: 0 5px 5px 0;
}
.stick .btn + input,
.stick input + input,
.stick .dropdown + input {
	border-left: 1px solid #ddd;
}

.btn {
	display: inline-block;
	min-height: 38px;
	min-width: 15px;
	margin: 0;
	padding: 5px 10px;
	font-size: 0.9rem;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	background: #3498db;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #2980b9;
	color: #fff;
}
a.btn {
	min-height: 25px;
	line-height: 25px;
}
.btn:hover {
	text-decoration: none;
}
.btn.active,
.btn:active,
.btn:hover,
.dropdown-target:target ~ .btn.dropdown-toggle {
	background: #2980b9;
}

.btn-important {
	font-weight: normal;
	background: #e67e22;
	color: #fff;
	border-bottom: 3px solid #d35400;
}
.btn-important:hover,
.btn-important:active {
	background: #d35400;
}

.btn-attention {
	background: #e74c3c;
	color: #fff;
	border-bottom: 3px solid #c0392b;
}
.btn-attention:hover,
.btn-attention:active {
	background: #c0392b;
}

/*=== Navigation */
.nav-list .nav-header,
.nav-list .item {
	height: 2.5em;
	line-height: 2.5em;
	font-size: 0.9rem;
}
.nav-list .item:hover,
.nav-list .item.active {
	background: #2980b9;
	color: #fff;
}
.nav-list .item:hover a,
.nav-list .item.active a {
	color: #fff;
}
.nav-list .disable {
	text-align: center;
	background: #fafafa;
	color: #aaa;
}
.nav-list .item > a {
	padding: 0 10px;
}
.nav-list a:hover {
	text-decoration: none;
}
.nav-list .item.empty a {
	color: #f39c12;
}
.nav-list .item:hover.empty a,
.nav-list .item.active.empty a {
	color: #fff;
	background: #f39c12;
}
.nav-list .item.error a {
	color: #bd362f;
}
.nav-list .item:hover.error a,
.nav-list .item.active.error a {
	color: #fff;
	background: #bd362f;
}

.nav-list .nav-header {
	padding: 0 10px;
	font-weight: bold;
	background: #34495e;
	color: #fff;
}

.nav-list .nav-form {
	padding: 3px;
	text-align: center;
}

.nav-head {
	margin: 0;
	text-align: right;
	background: #34495e;
	color: #fff;
}
.nav-head a {
	color: #fff;
}
.nav-head .item {
	padding: 5px 10px;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

/*=== Horizontal-list */
.horizontal-list {
	margin: 0;
	padding: 0;
}
.horizontal-list .item {
	vertical-align: middle;
}

/*=== Dropdown */
.dropdown-menu {
	margin: 5px 0 0;
	padding: 5px 0;
	font-size: 0.8rem;
	text-align: left;
	border: 1px solid #95a5a6;
	border-radius: 3px;
}
.dropdown-menu:after {
	content: "";
	position: absolute;
	top: -6px;
	right: 13px;
	width: 10px;
	height: 10px;
	z-index: -10;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	background: #fff;
	border-top: 1px solid #95a5a6;
	border-left: 1px solid #95a5a6;
}
.dropdown-header {
	padding: 0 5px 5px;
	font-weight: bold;
	text-align: left;
	color: #34495e;
}
.dropdown-menu > .item > a {
	padding: 0 25px;
	line-height: 2.5em;
}
.dropdown-menu > .item > span {
	padding: 0 25px;
	line-height: 2em;
}
.dropdown-menu > .item[aria-checked="true"] > a:before {
	font-weight: bold;
	margin: 0 0 0 -14px;
}
.dropdown-menu > .item:hover > a {
	text-decoration: none;
	background: #2980b9;
	color: #fff;
}
.dropdown-menu .input select,
.dropdown-menu .input input {
	margin: 0 auto 5px;
	padding: 2px 5px;
	border-radius: 3px;
}

.separator {
	margin: 5px 0;
	border-bottom: 1px solid #ddd;
}

/*=== Alerts */
.alert {
	margin: 15px auto;
	padding: 10px 15px;
	font-size: 0.9em;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-radius: 5px;
	color: #aaa;
	text-shadow: 0 0 1px #eee;
}
.alert-head {
	font-size: 1.15em;
}
.alert > a {
	text-decoration: underline;
	color: inherit;
}
.alert-warn {
	background: #ffe;
	border: 1px solid #eeb;
	color: #c95;
}
.alert-success {
	background: #dfd;
	border: 1px solid #cec;
	color: #484;
}
.alert-error {
	background: #fdd;
	border: 1px solid #ecc;
	color: #844;
}

/*=== Pagination */
.pagination {
	text-align: center;
	font-size: 0.8em;
	background: #ecf0f1;
	color: #000;
}
.content .pagination {
	margin: 0;
	padding: 0;
}
.pagination .item.pager-current {
	font-weight: bold;
	font-size: 1.5em;
	background: #34495e;
	color: #ecf0f1;
}
.pagination .item a {
	display: block;
	font-style: italic;
	line-height: 3em;
	text-decoration: none;
	color: #000;
}
.pagination .item a:hover {
	background: #34495e;
	color: #ecf0f1;
}

.pagination .loading,
.pagination a:hover.loading {
	font-size: 0;
	background: url("loader.gif") center center no-repeat #34495e;
}

/*=== STRUCTURE */
/*===============*/
/*=== Header */
.header {
	height: 85px;
	background: #ecf0f1;
}
.header > .item {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}
.header > .item.title{
	width: 230px;
}
.header > .item.title h1 {
	margin: 0.5em 0;
}
.header > .item.title h1 a {
	text-decoration: none;
}
.header > .item.search input {
	width: 230px;
}
.header .item.search input:focus {
	width: 350px;
}

/*=== Body */
#global {
	height: calc(100% - 85px);
}
.aside {
	background: #ecf0f1;
}
.aside.aside_flux {
	padding: 10px 0 50px;
	background: #ecf0f1;
}

/*=== Aside main page (categories) */
.categories {
	text-align: center;
}
.category {
	width: 233px;
	margin: 10px auto;
	text-align: left;
}
.category .btn:first-child {
	position: relative;
	width: 212px;
}
.category.stick .btn:first-child {
	width: 175px;
}
.category .btn:first-child:not([data-unread="0"]):after {
	position: absolute;
	top: 5px; right: 5px;
	padding: 1px 5px;
	background: #3498DB;
	color: #fff;
	border-radius: 5px;
}

/*=== Aside main page (feeds) */
.categories .feeds .item.active {
	background: #2980b9;
}
.categories .feeds .item.empty.active {
	background: #f39c12;
}
.categories .feeds .item.error.active {
	background: #bd362f;
}
.categories .feeds .item.empty .feed {
	color: #e67e22;
}
.categories .feeds .item.error .feed {
	color: #bd362f;
}
.categories .feeds .item.active .feed,
.categories .feeds .item.empty.active .feed,
.categories .feeds .item.error.active .feed {
	color: #fff;
}
.categories .feeds .item .feed {
	margin: 0;
	width: 165px;
	line-height: 3em;
	font-size: 0.8em;
	text-align: left;
	text-decoration: none;
}
.categories .feeds .feed:not([data-unread="0"]) {
	font-weight: bold;
}
.categories .feeds .dropdown-menu:after {
	left: 2px;
}
.categories .feeds .item .dropdown-target:target ~ .dropdown-toggle > .icon,
.categories .feeds .item:hover .dropdown-toggle > .icon,
.categories .feeds .item.active .dropdown-toggle > .icon {
	vertical-align: middle;
	background-color: #95a5a6;
	border-radius: 3px;
}

/*=== Configuration pages */
.post {
	padding: 10px 50px;
	font-size: 0.9em;
}
.post form {
	margin: 10px 0;
}
.post.content {
	max-width: 550px;
}

/*=== Prompt (centered) */
.prompt {
	text-align: center;
}
.prompt label {
	text-align: left;
}
.prompt form {
	margin: 10px auto 20px auto;
	width: 200px;
}
.prompt input {
	margin: 5px auto;
	width: 100%;
}
.prompt p {
	margin: 20px 0;
}

/*=== New article notification */
#new-article {
	text-align: center;
	font-size: 0.9em;
	background: #3498db;
}
#new-article:hover {
	background: #2980b9;
}
#new-article > a {
	line-height: 3em;
	font-weight: bold;
	color: #fff;
}
#new-article > a:hover {
	text-decoration: none;
}

/*=== Day indication */
.day {
	padding: 0 10px;
	font-weight: bold;
	line-height: 3em;
	border-left: 2px solid #ecf0f1;
}
.day .name {
	padding: 0 10px 0 0;
	font-size: 1.8em;
	opacity: 0.3;
	font-style: italic;
	text-align: right;
	color: #aab;
}

/*=== Index menu */
.nav_menu {
	text-align: center;
	padding: 5px 0;
}

/*=== Feed articles */
.flux {
	border-left: 2px solid #ecf0f1;
}
.flux:hover {
	background: #fff;
}
.flux.current {
	border-left-color: #3498db;
}
.flux.not_read {
	background: #FFF3ED;
	border-left-color: #FF5300;
}
.flux.not_read:not(.current):hover .item.title {
	background: #FFF3ED;
}
.flux.favorite {
	background: #FFF6DA;
	border-left-color: #FFC300;
}
.flux.favorite:not(.current):hover .item.title {
	background: #FFF6DA;
}
.flux.current {
	background: #fff;
}


.flux_header {
	font-size: 0.8rem;
	cursor: pointer;
	border-top: 1px solid #ecf0f1;
}
.flux_header .title {
	font-size: 0.9rem;
}
.flux .website .favicon {
	padding: 5px;
}
.flux .date {
	font-size: 0.7rem;
	color: #666;
}

.flux .bottom {
	font-size: 0.8rem;
	text-align: center;
}

/*=== Content of feed articles */
.content {
	padding: 20px 10px;
}
.content > h1.title > a {
	color: #000;
}

.content hr {
	margin: 30px 10px;
	height: 1px;
	background: #ddd;
	border: 0;
	box-shadow: 0 2px 5px #ccc;
}

.content pre {
	margin: 10px auto;
	padding: 10px 20px;
	overflow: auto;
	background: #222;
	color: #fff;
	font-size: 0.9rem;
	border-radius: 3px;
}
.content code {
	padding: 2px 5px;
	color: #dd1144;
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 3px;
}
.content pre code {
	background: transparent;
	color: #fff;
	border: none;
}

.content blockquote {
	display: block;
	margin: 0;
	padding: 5px 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fafafa;
	color: #333;
}
.content blockquote p {
	margin: 0;
}

/*=== Notification and actualize notification */
.notification {
	padding: 0 0 0 5px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 3em;
	z-index: 10;
	vertical-align: middle;
	background: #ddd;
	color: #666;
	border-radius: 3px;
	border: none;
}
.notification.good {
	background: #1abc9c;
	color: #fff;
}
.notification.bad {
	background: #e74c3c;
	color: #fff;
}
.notification a.close {
	padding: 0 15px;
	line-height: 3em;
	border-radius: 0 3px 3px 0;
}
.notification.good a.close:hover {
	background: #16a085;
}
.notification.bad a.close:hover {
	background: #c0392b;
}

.notification#actualizeProgress {
	line-height: 2em;
}

/*=== "Load more" part */
#bigMarkAsRead {
	text-align: center;
	text-decoration: none;
	background: #ecf0f1;
}
#bigMarkAsRead:hover {
	background: #34495e;
	color: #fff;
}

/*=== Navigation menu (for articles) */
#nav_entries {
	margin: 0;
	text-align: center;
	line-height: 3em;
	table-layout: fixed;
	background: #34495e;
}

/*=== READER VIEW */
/*================*/
#stream.reader .flux {
	padding: 0 0 50px;
	background: #ecf0f1;
	color: #34495e;
	border: none;
}
#stream.reader .flux .author {
	margin: 0 0 10px;
	font-size: 90%;
	color: #999;
}

/*=== GLOBAL VIEW */
/*================*/
#stream.global .box-category {
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 5px;
}
#stream.global .category {
	margin: 0;
}
#stream.global .btn {
	width: auto;
	height: 2em;
	margin: 0;
	padding: 0 10px;
	line-height: 2em;
	font-size: 1.2rem;
	background: #ecf0f1;
	color: #333;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}
#stream.global .btn:not([data-unread="0"]) {
	font-weight: bold;
	background: #3498db;
	color: #fff;
}
#stream.global .btn:first-child:not([data-unread="0"]):after {
	top: 0; right: 5px;
	font-weight: bold;
	background: none;
	border: 0;
	color: #fff;
}
#stream.global .box-category .feeds {
	max-height: 250px;
}
#stream.global .box-category .feeds .item {
	padding: 2px 10px;
	font-size: 0.9rem;
}

/*=== DIVERS */
/*===========*/
.aside.aside_feed .nav-form input,
.aside.aside_feed .nav-form select {
	width: 140px;
}
.aside.aside_feed .nav-form .dropdown .dropdown-menu {
	right: -20px;
}
.aside.aside_feed .nav-form .dropdown .dropdown-menu:after {
	right: 33px;
}

/*=== STATISTICS */
/*===============*/
.stat {
	margin: 10px 0 20px;
}

.stat th,
.stat td,
.stat tr {
	border: none;
}
.stat > table td,
.stat > table th {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

/*=== LOGS */
/*=========*/
.logs {
	overflow: hidden;
	border: 1px solid #aaa;
}
.log {
	margin: 10px 0;
	padding: 5px 2%;
	overflow: auto;
	font-size: 0.8rem;
	background: #fafafa;
	color: #666;
}

.log > .date {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	border-radius: 20px;
}
.log.error > .date {
	background: #e74c3c;
	color: #fff;
}
.log.warning > .date {
	background: #f39c12;
}
.log.notice > .date {
	background: #ecf0f1;
}
.log.debug > .date {
	background: #111;
	color: #eee;
}

/*=== MOBILE */
/*===========*/
@media(max-width: 840px) {
	.aside {
		transition: width 200ms linear;
		-moz-transition: width 200ms linear;
		-webkit-transition: width 200ms linear;
		-o-transition: width 200ms linear;
		-ms-transition: width 200ms linear;
	}
	.aside .toggle_aside,
	#panel .close {
		position: absolute;
		display: block;
		top: 0; right: 0;
		width: 32px;
		height: 32px;
		line-height: 30px;
		text-align: center;
		background: #34495e;
		border-radius: 0 0 0 5px;
	}

	.nav_menu .btn {
		margin: 5px 10px;
	}
	.nav_menu .stick {
		margin: 0 10px;
	}
	.nav_menu .stick .btn {
		margin: 5px 0;
	}
	.nav_menu .search {
		display: inline-block;
		max-width: 97%;
	}
	.nav_menu .search input {
		max-width: 97%;
		width: 90px;
	}
	.nav_menu .search input:focus {
		width: 400px;
	}

	.day .name {
		font-size: 1.1rem;
	}

	.pagination {
		margin: 0 0 3.5em;
	}

	.notification {
		border-radius: 0;
	}
	.notification a.close {
		display: block;
		left: 0;
		background: transparent;
	}
	.notification a.close:hover {
		opacity: 0.5;
	}
	.notification a.close .icon {
		display: none;
	}
}
