/* Icons from directory "" */
.icon-add,.icon-add\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-add-dims{width:16px;height:16px}
.icon-all,.icon-all\:regular{background-image:url('icons/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-all-dims{width:16px;height:16px}
.icon-category,.icon-category\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-category-dims{width:16px;height:16px}
.icon-close,.icon-close\:regular{background-image:url('icons/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-close-dims{width:16px;height:16px}
.icon-configure,.icon-configure\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-configure-dims{width:16px;height:16px}
.icon-down,.icon-down\:regular{background-image:url('icons/icons.svg');background-position:0 -80px;background-repeat:no-repeat}
.icon-down-dims{width:16px;height:16px}
.icon-icon,.icon-icon\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-icon-dims{width:16px;height:16px}
.icon-key,.icon-key\:regular{background-image:url('icons/icons.svg');background-position:0 -112px;background-repeat:no-repeat}
.icon-key-dims{width:16px;height:16px}
.icon-next,.icon-next\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-next-dims{width:16px;height:16px}
.icon-prev,.icon-prev\:regular{background-image:url('icons/icons.svg');background-position:0 -144px;background-repeat:no-repeat}
.icon-prev-dims{width:16px;height:16px}
.icon-refresh,.icon-refresh\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-refresh-dims{width:16px;height:16px}
.icon-rss,.icon-rss\:regular{background-image:url('icons/icons.svg');background-position:0 -176px;background-repeat:no-repeat}
.icon-rss-dims{width:16px;height:16px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-search-dims{width:16px;height:16px}
.icon-up,.icon-up\:regular{background-image:url('icons/icons.svg');background-position:0 -208px;background-repeat:no-repeat}
.icon-up-dims{width:16px;height:16px}
.icon-view-global,.icon-view-global\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-view-global-dims{width:16px;height:16px}
.icon-view-normal,.icon-view-normal\:regular{background-image:url('icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.icon-view-normal-dims{width:16px;height:16px}
.icon-view-reader,.icon-view-reader\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-view-reader-dims{width:16px;height:16px}