@charset "UTF-8";
//colors

$color_text:	#181621;
$color_light:	#fcfcfc;
$color_nav:		#0062be;
$color_aside:	#22303d;
$color_alert:	#fa8052;
$color_good:	#5eaabf;
$color_bad:		#b0425b;
$color_stared:	#fff6da;
$color_unread:	#fff3ed;
$color_hover:	#fff;


// @extend-elements
%input {
	min-height: 25px;
	margin-top: 4px;
	line-height: 25px;
	vertical-align: middle;
	background: $color_light;
	border: none;
	padding-left: 5px;
}

%invalid {
	color: $color_bad;
	border-color: $color_bad;
	box-shadow: none;
}

%nav-list {
	height: 2.5em;
	line-height: 2.5em;
	font-size: 0.9rem;
}

%dropdown {
	padding: 0 22px;
	color: $color_light;
	font-size: 0.8rem;
	line-height: 2.5em;
}

%after {
	content: "";
	display: block;
	clear: both;
}

%aside-width {
	width: 231px;
}

// /@extend-elements
html,
body {
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: darken( $color_nav, 10%);
	outline: none;

	&.btn {
		min-height: 25px;
		line-height: 25px;
		text-decoration: none;

		&:hover {
			background: darken( $color_nav, 10%);
		}
	}

	&#btn-subscription {
		width: 76%;
	}

	&#btn-importExport {
		width: 5%;
	}
}

img {
	&.icon:hover {
		background: none;
	}
}

div#stream {
	margin-top: 35px;
}

sup {
	top: -0.3em;
}

legend {
	margin: 20px 0 5px;
	padding: 5px 20px;
	background: darken( $color_light, 10%);
	display: inline-block;
	width: auto;
	font-size: 1.4em;
	clear: both;
}

label {
	min-height: 25px;
}

textarea {
	background: darken( $color_light, 10% );
	width: 360px;
	height: 100px;

	@extend %input;

	&:focus {
		border-color: darken( $color_nav, 10%);
	}
}

input,
select {

	@extend %input;

	&:focus {
		border-color: darken( $color_nav, 10%);
	}

	&:invalid {

		@extend %invalid;
	}

	&:disabled {
		background: $color_light;
	}
}

select {
	background: darken( $color_light, 10% );
}

input {
	&.extend {
		transition: width 200ms linear;
	}
}

option {
	padding: 0 .5em;
}

table {
	border-collapse: collapse;
}

tr,
td,
th {
	padding: 0.5em;
	border: 1px solid darken( $color_light, 10%);
}

th {
	background: $color_light;
}

form {
	td,
	th {
		font-weight: normal;
		text-align: center;
	}
}

.category {
	.title.error::before {
		display: inline-block;
		padding-right: 7px;
		width: 16px;
		content: url(../Swage/icons/error.svg);
	}
}


.form-group {
	padding: 5px;
	border: 1px solid transparent;

	&:hover {
		background: $color_light;
		border: 1px solid $color_light;
	}

	&.form-actions {
		margin: 15px 0 25px;
		padding: 5px 0;
		background: darken( $color_light, 10%);
		border-top: 3px solid darken( $color_light, 10%);

		.btn {
			margin: 0 10px;
		}
	}

	.group-name {
		padding: 10px 0;
		text-align: right;
	}

	.group-controls {
		min-height: 25px;
		padding: 5px 0;

		.control {
			line-height: 2.0em;
		}
	}

	table {
		margin: 10px 0 0 220px;
	}
}

.form-group::after {

	@extend %after;
}

.stick {
	vertical-align: middle;
	font-size: 0;

	&.configure-feeds {

		@extend %aside-width;
	}
}

.btn {
	margin: 0;
	padding: 5px 10px;
	background: $color_nav;
	display: inline-block;
	color: $color_light;
	font-size: 0.9rem;
	border: none;
	min-height: 35px;
	min-width: 15px;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;

	&.active,
	:active,
	:hover {
		background: darken( $color_nav, 10%);
		text-decoration: none;
	}
}

.btn-important, .btn-attention {
	font-weight: normal;
	background: $color_alert;
	color: $color_light;

	&:hover,
	:active {
		background: darken( $color_alert, 10%) !important;
	}
}

.nav-list {
	.nav-header {

		@extend %nav-list;
		padding: 0 10px;
		font-weight: bold;
		background: $color_aside;
		color: $color_light;
		cursor: default;
	}

	.item {

		@extend %nav-list;

		&:hover,
		&.active {
			background: darken( $color_nav, 10%);
			color: $color_light;

			a {
				color: $color_light;
			}

			&.empty a,
			.error a {
				color: $color_light;
			}

			&.empty a {
				background: $color_alert;
			}

			&.error a {
				background: lighten( $color_bad, 10%);
			}
		}

		> a {
			padding: 0 10px;
		}

		&.empty a {
			color: $color_alert;
		}

		&.error a {
			color: lighten( $color_bad, 10%);
		}
	}

	.disable {
		text-align: center;
		background: $color_light;
		color: darken( $color_light, 40% );
	}

	.nav-form {
		padding: 3px;
		text-align: center;
	}

	a:hover {
		text-decoration: none;
	}
}

.nav-head {
	margin: 0;
	text-align: right;
	background: $color_aside;
	color: $color_light;

	a {
		color: $color_light;
	}

	.item {
		padding: 5px 10px;
		font-size: 0.9rem;
		line-height: 1.5rem;
	}
}

.horizontal-list {
	margin: 0;
	padding: 0;

	.item {
		vertical-align: middle;
	}
}

.dropdown-menu {
	padding: 5px 0;
	font-size: 0.8rem;
	text-align: left;
	border: none;
	background-color: darken( $color_nav, 10%);

	.dropdown-header {
		cursor: default;
	}

	> {
		.item {

			@extend %dropdown;
			padding: 0;
			margin-left: 10px;

			> a,
			> span,
			> .as-link,
			button {

				@extend %dropdown;
			}

			> a {
				min-width: initial;
				white-space: nowrap;
			}

			&:hover {
				background: $color_nav;
				color: $color_light;

				> a {
					text-decoration: none;
					color: $color_light;
				}
			}
		}

		.item[aria-checked="true"] > a::before {
			font-weight: bold;
			margin: 0 0 0 -14px;
		}
	}

	.input {
		select,
		input {
			margin: 0 auto 5px;
			padding: 2px 5px;
		}
	}
}

.dropdown-header {
	padding: 0 5px 5px;
	font-weight: bold;
	text-align: left;
	color: $color_light;
}

.separator {
	margin: 5px 0;
	border-bottom: 1px solid darken( $color_light, 10%);
	cursor: default;
}

.alert {
	margin: 5px auto;
	padding: 10px 15px;
	background: $color_light;
	color: darken( $color_light, 40% );
	font-size: 0.9em;
	border: none;
	text-shadow: 0 0 1px $color_light;

	> a {
		color: inherit;
		text-decoration: underline;
	}
}

.alert-head {
	font-size: 1.15em;
}

.alert-warn,
.alert-success,
.alert-error {
	border: none;
}

.alert-warn {
	background: $color_light;
	color: $color_alert;
}

.alert-success {
	background: $color_light;
	color: $color_good;
}

.alert-error {
	background: $color_light;
	color: $color_bad;
}

.pagination {
	background: darken( $color_light, 10%);
	color: $color_text;
	font-size: 0.8em;
	text-align: center;

	.item {
		&.pager-current {
			background: $color_aside;
			color: darken( $color_light, 10%);
			font-size: 1.5em;
			font-weight: bold;
		}

		a {
			display: block;
			color: $color_text;
			font-style: italic;
			line-height: 3em;
			text-decoration: none;

			&:hover {
				background: $color_aside;
				color: darken( $color_light, 10%);
			}
		}
	}

	.loading,
	a:hover.loading {
		background: url(loader.gif) center center no-repeat $color_aside;
		font-size: 0;
	}
}

.content {
	padding: 20px 10px;

	.pagination {
		margin: 0;
		padding: 0;
	}

	hr {
		margin: 30px 10px;
		background: darken( $color_light, 10%);
		height: 1px;
		border: 0;
		box-shadow: 0 2px 5px darken( $color_light, 10%);
	}

	pre {
		margin: 10px auto;
		padding: 10px 20px;
		overflow: auto;
		background: $color_text;
		color: $color_light;
		font-size: 0.9rem;

		code {
			background: transparent;
			color: $color_light;
			border: none;
		}
	}

	code {
		padding: 2px 5px;
		background: $color_light;
		color: $color_bad;
		border: 1px solid $color_light;
	}

	blockquote {
		margin: 0;
		padding: 5px 20px;
		background: $color_light;
		display: block;
		color: darken( $color_light, 40% );
		border-top: 1px solid darken( $color_light, 10%);
		border-bottom: 1px solid darken( $color_light, 10%);

		p {
			margin: 0;
		}
	}

	> h1.title > a {
		color: $color_text;
	}
}

.box {
	border: 1px solid darken( $color_light, 10%);

	.box-title {
		margin: 0;
		padding: 5px 10px;
		background: darken( $color_light, 10%);
		color: darken( $color_light, 40% );
		border-bottom: 1px solid darken( $color_light, 10%);
	}

	.box-content {
		max-height: 260px;

		.item {
			padding: 0 10px;
			font-size: 0.9rem;
			line-height: 2.5em;

			.configure {
				visibility: hidden;

				.icon {
					vertical-align: middle;
					background-color: darken( $color_light, 10%);
				}
			}

			&:hover .configure {
				visibility: visible;
			}
		}
	}

	&.category {
		.box-title .title {
			font-weight: normal;
			text-decoration: none;
			text-align: left;
		}

		&:not([data-unread="0"]) .box-title {
			background: $color_nav;

			&:active {
				background: darken( $color_nav, 10%);
			}

			.title {
				font-weight: bold;
				color: $color_light;
			}
		}

		.title:not([data-unread="0"])::after {
			background: none;
			border: 0;
			box-shadow: none;
			position: absolute;
			top: 5px;
			right: 10px;
			font-weight: bold;
			text-shadow: none;
		}

		.item.feed {
			padding: 2px 10px;
			font-size: 0.8rem;
		}
	}
}

.tree {
	margin: 10px 0;
}

.tree-folder-title {
	padding: 0 10px;
	background: $color_aside;
	height: 35px;
	font-size: 1rem;
	position: relative;
	line-height: 2.3rem;

	.title {
		background: inherit;
		color: $color_light;

		&:hover {
			text-decoration: none;
		}
	}
}

.tree-folder-items {
	background: $color_aside;

	> .item {
		padding: 0 10px;
		line-height: 2.5rem;
		font-size: 0.8rem;

		&.active {
			background: darken( $color_nav, 10%);
		}

		> a {
			text-decoration: none;
			color: $color_light;
		}
	}
}

@supports (scrollbar-width: thin) {
	#sidebar {
		scrollbar-color: rgba(255, 255, 255, 0.05) rgba(0, 0, 0, 0.0);
	}

	#sidebar:hover {
		scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.0);
	}
}

@supports not (scrollbar-width: thin) {
	#sidebar::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.1);
	}

	#sidebar:hover::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.3);
	}
}

.header {
	> .item {
		vertical-align: middle;

		&.title {

			@extend %aside-width;
			position: absolute;

			h1 {
				margin: 0;
				display: block;

				a {
					text-decoration: none;
					color: $color_light;
				}
			}

			.logo {
				display: inline-block;
				height: 26px;
				vertical-align: top;
				position: relative;
				top: 5px;
			}
		}

		&.search input {
			width: 230px;
		}
	}

	.item.search input:focus {
		width: 350px;
	}

	.item.search {
		display: none;
	}

	.item.configure {
		position: fixed;
		right: 0px;
		z-index: 1000;
		width: 35px;
	}

	h1 {
		text-align: center;
		font-size: 1.5em;
	}
}

.aside {
	padding: 35px 0;
	background: $color_aside;

	@extend %aside-width;

	&.aside_feed {
		.tree {
			margin: 0 0 50px;
		}

		.nav-form {
			input,
			select {
				width: 140px;
			}

			.dropdown {
				.dropdown-menu {
					right: -20px;
				}

				.dropdown-menu::after {
					right: 33px;
				}
			}
		}
	}
}

.aside_feed {
	.tree-folder-title > .title:not([data-unread="0"])::after {
		margin: 6px 0;
		padding: 0 10px;
		background: inherit;
		font-size: 0.9rem;
		position: absolute;
		right: 0;
		line-height: 1.5rem;
	}

	.tree-folder-items .dropdown-menu::after {
		left: 2px;
	}
}

.post {
	padding: 10px 50px;
	font-size: 0.9em;

	input {
		background: darken( $color_light, 10% );

		&.long {
			height: 33px;
			margin-top: 0px;
		}
	}

	form {
		margin: 10px 0;
	}

	&.content {
		max-width: 550px;
	}
}

.prompt {
	text-align: center;

	label {
		text-align: left;
	}

	form {
		margin: 10px auto 20px auto;
		width: 200px;
	}

	input {
		margin: 5px auto;
		width: 100%;
	}

	p {
		margin: 20px 0;
	}
}

#new-article {
	background: $color_nav;
	font-size: 1em;
	text-align: center;
	position: fixed;
	bottom: 48px;
	z-index: 900;
	left: 0;
	line-height: 1.5em;

	@extend %aside-width;

	&:hover {
		background: darken( $color_nav, 10%);
	}

	> a {
		line-height: 1.5em;
		font-weight: bold;
		color: $color_light;

		&:hover {
			text-decoration: none;
		}
	}
}

.day {
	padding: 0 10px;
	font-weight: bold;
	line-height: 3em;
	text-align: center;

	.name {
		display: none;
	}
}

.nav {
	a {
		color: $color_light;
	}
}


.nav_menu {
	width: 100%;
	font-size: 0;
	background-color: $color_nav;
	position: fixed;
	z-index: 900;

	.item.search {
		display: inline-block;
		position: fixed;
		right: 40px;
	}
}

.flux {
	padding-right: 10px;
	background: $color_light;

	&::after {

		@extend %after;
		margin: 0 auto;
		width: 90%;
		border-top: 1px solid darken( $color_light, 10%);
	}

	&:hover,
	.current {
		background: $color_hover;

		&:not(.current):hover .item.title {
			background: $color_hover;
		}
	}

	&.not_read {
		&:not(.current) {
			background: $color_unread;
		}

		&:not(.current):hover .item.title {
			background: $color_unread;
		}
	}

	&.favorite, {
		background: $color_stared;

		&:not(.current):hover .item.title {
			background: $color_stared;
		}
	}

	.date {
		color: darken( $color_light, 40% );
		font-size: 0.7rem;
	}

	.bottom {
		font-size: 0.8rem;
		text-align: center;
	}

	.website .favicon {
		padding: 5px;
	}

	label {
		color: $color_light;
		cursor: pointer;
	}
}

.flux_header {
	font-size: 0.8rem;
	cursor: pointer;

	.title {
		font-size: 0.9rem;
	}
}

.notification {
	padding: 10px 0;
	background: darken( $color_light, 10%);
	height: auto;
	color: darken( $color_light, 40% );
	font-size: 1em;
	border: none;
	text-align: center;
	font-weight: bold;
	z-index: 10;
	vertical-align: middle;
	position: fixed;
	bottom: 48px;
	left: 0;
	top: auto;

	@extend %aside-width;

	&.good,
	.bad {
		color: $color_light;
	}

	&.good {
		background: $color_good;

		a.close:hover {
			background: $color_good;
		}
	}

	&.bad {
		background: lighten( $color_bad, 10%);

		a.close:hover {
			background: lighten( $color_bad, 10%);
		}
	}

	&#actualizeProgress {
		line-height: 2em;
	}

	a.close {
		display: none;
	}
}

#bigMarkAsRead {
	text-align: center;
	text-decoration: none;
	background: darken( $color_light, 10%);

	&:hover {
		background: $color_aside;
		color: $color_light;
	}
}

#nav_entries {
	margin: 0;
	text-align: center;
	line-height: 3em;
	table-layout: fixed;

	@extend %aside-width;
	background: $color_aside;
}

.stat {
	margin: 10px 0 20px;

	th,
	td,
	tr {
		border: none;
	}

	> table {
		td,
		th {
			border-bottom: 1px solid darken( $color_light, 10%);
		}
	}

	> .horizontal-list {
		margin: 0 0 5px;

		.item {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:first-child {
				width: 270px;
			}
		}
	}
}

.formLogin {
	#global {
		height: 0;
	}

	.header {
		background: $color_aside;
		height: 55px;

		> .item {
			&.configure {
				width: 200px;
				position: unset;
			}

			&.title h1 {
				display: unset;
			}
		}
	}

	a.signin {
		color: $color_light;
		padding-left: 5px;
	}

	input {
		border-top: 1px darken( $color_light, 10%);
		border-right: 1px darken( $color_light, 10%);
		border-bottom: 1px darken( $color_light, 10%);
		border-left: 5px solid;
	}
}

.loglist {
	overflow: hidden;
	border: 1px solid darken( $color_light, 40% );
}

.log {
	padding: 5px 2%;
	background: $color_light;
	font-size: 0.8rem;
	overflow: auto;

	> .date {
		margin: 0 10px 0 0;
		padding: 5px 10px;
	}

	&.error > .date {
		background: lighten( $color_bad, 10%);
		color: $color_light;
	}

	&.warning > .date {
		background: $color_alert;
		color: $color_light;
	}

	&.notice > .date {
		background: darken( $color_light, 10%);
		color: $color_light;
	}

	&.debug > .date {
		background: $color_text;
		color: $color_light;
	}
}

@media (max-width: 840px) {
	.formLogin .header {
		display: none;
	}

	.dropdown-header, .dropdown-menu > .item {
		padding: 12px;
	}

	#new-article {
		width: 100%;
		position: sticky;
		top: 0;
	}

	.header {
		display: table;

		.item.title .logo {
			display: none;
		}
	}

	.header > .item.title h1 a {
		display: block;
		position: absolute;
		top: -35px;
		left: 10px;
		font-size: 0.6em;
	}

	.header .item.configure,
	button.read_all.btn {
		display: none;
	}

	.flux .item.manage,
	.flux_header .item.website {
		width: 35px;
		text-align: center;
	}

	.aside {
		width: 0;
		transition: width 200ms linear;

		.toggle_aside {
			background: $color_aside;
			display: block;
			height: 50px;
			line-height: 50px;
			text-align: right;
			padding-right: 10px;
		}

		&.aside_feed {
			padding: 0;
		}

		&:target {
			width: 78%;
			z-index: 1000;
		}
	}

	.nav_menu {
		position: initial;
		height: 71px;

		.btn {
			margin: 5px 10px;
		}

		.stick {
			margin: 0 10px;

			.btn {
				margin: 5px 0;
			}
		}

		.search {
			position: absolute !important;
			top: 35px;
			left: 55px;

			input {
				width: 85%;
			}
		}
	}

	.pagination {
		margin: 0 0 3.5em;
	}

	#panel .close {
		background: $color_aside;
		display: block;
		height: 50px;
		line-height: 50px;
		text-align: right;
		padding-right: 10px;
	}

	.day .name {
		font-size: 1.1rem;
	}

	.notification {
		width: 100%;

		a.close {
			background: transparent;
			display: block;
			left: 0;

			&:hover {
				opacity: 0.5;
			}

			.icon {
				display: none;
			}
		}
	}

	#nav_entries {
		width: 100% !important;
	}

	div#stream {
		margin-top: 0px;
	}

	a.btn.toggle_aside {
		position: absolute;
		top: 29px;
	}

	form#mark-read-menu,
	a#actualize,
	a#toggle-order,
	div#nav_menu_actions,
	div#nav_menu_views {
		position: absolute;
	}

	form#mark-read-menu {
		right: 46px;
		top: 30px;
		z-index: 1100;
	}

	a#actualize,
	a#toggle-order {
		right: 0px;
	}

	a#actualize {
		top: 29px;
	}

	a#toggle-order,
	div#nav_menu_actions,
	div#nav_menu_views {
		top: 65px;
	}

	div#nav_menu_actions {
		left: 0px;
	}

	div#nav_menu_views {
		right: 50px;
	}
}

@media (max-width: 410px) {
	.nav_menu .stick {
		margin: 0;
	}
}

@media (max-width: 374px) {
	#nav_menu_views {
		display: none;
	}
}

button.as-link {
	color: $color_light;
	outline: none;
}

.dropdown-target:target ~ .btn.dropdown-toggle {
	background: darken( $color_nav, 10%);
}

.tree-folder.active .tree-folder-title {
	background: darken( $color_nav, 10%);
	font-weight: bold;
}

.feed.item {
	&.empty {
		color: $color_alert;

		&.active {
			background: $color_alert;
			color: $color_light;

			> a {
				color: $color_light;
			}
		}

		> a {
			color: $color_alert;
		}
	}

	&.error {
		color: lighten( $color_bad, 10%);

		&.active {
			background: lighten( $color_bad, 10%);
			color: $color_light;

			> a {
				color: $color_light;
			}
		}

		> a {
			color: lighten( $color_bad, 10%);
		}
	}
}

#dropdown-query ~ .dropdown-menu .dropdown-header .icon {
	vertical-align: middle;
	float: right;
}

#stream.reader .flux {
	padding: 0 0 50px;
	background: $color_light;
	color: $color_aside;
	border: none;

	.author {
		margin: 0 0 10px;
		color: darken( $color_light, 40% );
		font-size: 90%;
	}
}

#nav_menu_actions, #nav_menu_read_all {
	ul.dropdown-menu {
		left: 0px;
	}
}

#slider {
	label {
		min-height: initial;
	}

	.form-group {
		&:hover {
			background: inital;
		}
	}

}
