* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-size: 95%;
	font-family: "Cantarell", "sans-serif";
}

/* LIENS */
a {
	color: #0062BE;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

/* LISTES */
ul, ol {
	margin: 10px 0 10px 30px;
	line-height: 190%;
}

/* TITRES */
h1, h2, h3 {
	min-height: 40px;
	padding: 10px 0 0;
	line-height: 40px;
}

/* IMG */
img {
	max-width: 100%;
	vertical-align: middle;
}
	a img {
		border: none;
	}

/* FORMULAIRES */
form {
	width: 450px;
	max-width: 100%;
	margin: 20px auto;
	padding: 20px;
	background: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 3px #aaa;
}
	label {
		display: block;
		margin: 20px 0 0;
		padding: 0 20px 0 0;
		font-weight: bold;
	}
	input:focus, textarea:focus {
		color: #3366cc !important;
		border: 1px solid #3366cc !important;
	}
	input[type="text"], input[type="url"], input[type="email"], input[type="number"], textarea {
		display: block;
		height: 30px;
		width: 430px;
		max-width: 95%;
		margin: 5px 0 5px;
		padding: 5px 10px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 90%;
	}
		textarea {
			min-height: 100px;
			font-size: 110%;
			line-height: 150%;
			font-family: Monospace;
		}
	input[type="submit"], button {
		display: block;
		height: 40px;
		width: 100%;
		margin: 5px 0 5px;
		padding: 5px 0;
	}
	select {
		width: 100%;
		padding: 5px;
	}
	.radio_group, .checkbox_group {
		line-height: 35px;
	}
		.radio_group label, .checkbox_group label {
			display: inline-block;
			margin: 0;
			padding: 0 0 0 5px;
			font-weight: normal;
		}

/* STRUCTURE */
#global {
	display: table;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
	.aside {
		display: table-cell;
		height: 100%;
		width: 250px;
		vertical-align: top;
		border-right: 1px solid #aaa;
		background: #fff;
	}
		.aside ul {
			margin: 0;
			list-style: none;
		}
			.aside li {
				width: 100%;
				height: 50px;
				overflow: hidden;
				line-height: 50px;
			}
				.aside li > a, .aside li > span {
					display: block;
					width: 230px;
					padding: 0 10px;
				}
					.aside li > a:hover, .aside li > span:hover {
						text-decoration: none;
						background: #fafafa;
					}
					.aside li.disable > span {
						background: #fff;
					}
					.aside li > a > span {
						float: right;
						padding: 0 5px;
						font-size: 80%;
					}
				.aside li.active > a {
					background: #0062BE;
					color: #fff;
				}
				.aside li > h2 {
					height: 50px;
					padding: 0;
					text-align: center;
					background: #eee;
					line-height: 50px;
				}
				
		.aside form {
			display: table;
			width: 250px;
			margin: 0;
			padding: 0;
			background: #f0f0f0;
			border: none;
			border-bottom: 1px solid #aaa;
			border-radius: 0;
			box-shadow: none;
		}
			.aside form input {
				display: inline-block;
				height: 48px;
				line-height: 48px;
			}
				.aside form input[type="url"] {
					width: 200px;
					margin: 0;
					padding: 0;
					border: none !important;
					border-radius: 0;
				}
				.aside form input[type="submit"] {
					width: 50px;
					margin: 0;
					padding: 0;
					border: none;
					border-radius: 0;
				}
		#main_aside {
			position: fixed;
			z-index: 10;
		}
		#categories {
			height: 69%;
			overflow: auto;
			border-top: 1px solid #aaa;
		}
	#main {
		display: table-cell;
		height: 100%;
		max-width: 800px;
		padding: 0 0 0 250px;
		line-height: 180%;
		background: #fafafa;
		vertical-align: top;
	}
		#top {
			position: fixed;
			top: 0;
			width: 85%;
			background: #eee;
			border-bottom: 1px solid #aaa;
			box-shadow: 0 1px 3px #aaa;
			text-align: center;
			z-index: 0;
		}
			#top a {
				display: inline-block;
				height: 50px;
				width: 50%;
				line-height: 50px;
				font-weight: bold;
			}
				#top a:hover {
					background: #fafafa;
					text-decoration: none;
				}
		#stream {
			padding: 50px 0 0;
		}
		#main .table {
			display: table;
			width: 100%;
			height: 100%;
		}
		#main .nothing {
			display: table-cell;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			text-align: center;
		}

.post {
}
	.post.flux {
		font-family: Palatino, "Times New Roman", serif;
		border-left: 10px solid #aaa;
		background: #fafafa;
	}
		.post.flux:hover {
			background: #fff;
		}
		.post.flux .content {
			padding: 20px 100px;
			line-height: 170%;
		}
			.post.flux .content h1, .post.flux .content h2, .post.flux .content h3 {
				margin: 20px 0;
			}
			.post.flux .content p {
				margin: 20px 0;
			}
			.post.flux .content img {
				margin: 10px;
				border-radius: 5px;
			}
			.post.flux .content pre {
				width: 90%;
				margin: 10px auto;
				padding: 10px;
				overflow: auto;
				background: #666;
				border: 1px solid #000;
				color: #fafafa;
				border-radius: 5px;
			}
			.post.flux .content q, .post.flux .content blockquote {
				display: block;
				margin: 0;
				padding: 10px 20px;
				font-style: italic;
				border-left: 4px solid #ccc;
				color: #666;
			}
		.post.flux.active {
			border-left: 10px solid #0062BE;
			background: #fff;
		}
		.post.flux.not_read {
			border-left: 10px solid #FF5300;
			background: #FFF3ED;
		}
		.post.flux.favorite {
			border-left: 10px solid #FFC300;
			background: #FFF6DA;
		}
.flux_header {
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	border-top: 1px solid #ddd;
}
	.flux_header .item {
		display: table-cell;
		vertical-align: middle;
	}
		.flux_header .item.manage {
			width: 40px;
		}
			.flux_header .item.manage .read {
				display: inline-block;
				width: 16px;
				height: 16px;
				background: url("read.svg") center center no-repeat;
				vertical-align: middle;
			}
				.flux_header .item.manage .read:hover {
					text-decoration: none;
				}
				.post.flux.not_read .flux_header .item.manage .read {
					background: url("unread.svg") center center no-repeat;
				}
			.flux_header .item.manage .bookmark {
				display: inline-block;
				width: 16px;
				height: 16px;
				background: url("non-starred.svg") center center no-repeat;
				vertical-align: middle;
			}
				.flux_header .item.manage .bookmark:hover {
					text-decoration: none;
				}
				.post.flux.favorite .flux_header .item.manage .bookmark {
					background: url("starred.svg") center center no-repeat;
				}
		.flux_header .item.website {
			width: 200px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.flux_header .item.title {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
			.flux_header .item.title h1 {
				font-size: 12px;
				padding: 0;
				font-weight: normal;
			}
				.post.flux.not_read .flux_header .item.title h1 {
					font-weight: bold;
				}
		.flux_header .item.date {
			width: 200px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: right;
		}
		.flux_header .item.link {
			width: 25px;
			text-align: center;
		}
			.flux_header .item.link a {
				display: inline-block;
				width: 16px;
				height: 16px;
				background: url("website.svg") center center no-repeat;
				vertical-align: middle;
			}
				.flux_header .item.link a:hover {
					text-decoration: none;
				}
		
#stream.read_mode {
	background: #fff;
	box-shadow: 0 0 5px #000;
}
	#stream.read_mode .post.flux {
		border-left: 0;
		padding: 50px 20px;
		background: #fff;
	}
	#stream.read_mode .post.flux a {
		color: #363;
	}
	#stream.read_mode .post.flux .content a {
		text-decoration: underline;
	}
		#stream.read_mode .post.flux .content a:hover {
			text-decoration: none;
		}
	#stream.read_mode .post.flux .after {
		display: none;
	}

/*** PAGINATION ***/
.pagination {
	height: 50px;
	margin: 0;
	list-style: none;
	text-align: center;
	font-size: 100%;
	line-height: 50px;
	}
	.pagination li {
		display: inline-block;
		width: 30px;
		height: 30px;
		}
		.pagination li.pager-next, .pagination li.pager-previous, .pagination li.pager-first, .pagination li.pager-last {
			width: 100px;
		}
		.pagination li.pager-current {
			font-weight: bold;
			}
		.pagination li a {
			display: block;
			color: #F09600;
			}
a#load_more {
	display: block;
	height: 50px;
	background: #eee;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #aaa;
}
	a#load_more:hover {
		background: #fff;
		text-decoration: none;
	}
	a#load_more.disable {
		cursor: default;
		background: #eee;
		color: #666;
	}

a#read_mode {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: url("read_mode.png") 9px 9px no-repeat #ddd;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-radius: 20px 0 0 0;
	box-shadow: -2px -2px 5px #aaa;
	transition: all 100ms linear 0s;
}
	a#read_mode:hover {
		width: 60px;
		height: 60px;
		background-color: #eee;
		text-decoration: none;
	}

/*** NOTIFICATION ***/
#notification {
	position: fixed;
	bottom: 0;
	left: 25%;
	width: 50%;
	height: 50px;
	padding: 0 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 5px #666;
	background: #ddd;
	color: #666;
	font-weight: bold;
}
	#notification.good {
		background: #f4f899;
	}
	#notification.bad {
		background: #f4a899;
	}
	#notification a.close {
		display: inline-block;
		width: 25px;
		height: 25px;
		float: right;
		margin: -10px -60px 0 0;
		background: #fff;
		border-radius: 50px;
		border: 1px solid #aaa;
		line-height: 25px;
		color: #666;
	}
		#notification a.close:hover {
			text-decoration: none;
		}

@media(max-width: 840px) {
	#global {
		table-layout: fixed;
	}
	#main_aside {
		display: none;
	}
	#main {
		width: 100%;
		padding: 0;
	}
		#top {
			width: 100%;
			position: static;
		}
	#stream {
		padding: 0;
	}
	.flux_header .item.website,
	.flux_header .item.date {
		width: 100px;
	}
	.post.flux .content {
		padding: 10px;
	}
	a#read_mode {
		display: none;
	}
}
