autoload.php
composer.lock
composer/
marienfressinaud/lib_opml/.git/
marienfressinaud/lib_opml/.gitlab-ci.yml
marienfressinaud/lib_opml/.gitlab/
marienfressinaud/lib_opml/ci/
marienfressinaud/lib_opml/examples/
marienfressinaud/lib_opml/Makefile
marienfressinaud/lib_opml/src/functions.php
marienfressinaud/lib_opml/tests/
phpgt/cssxpath/.*
phpgt/cssxpath/composer.json
phpgt/cssxpath/CONTRIBUTING.md
phpgt/cssxpath/test/
phpmailer/phpmailer/*oauth*
phpmailer/phpmailer/COMMITMENT*
phpmailer/phpmailer/composer.*
phpmailer/phpmailer/language/
phpmailer/phpmailer/SECURITY*
phpmailer/phpmailer/src/DSNConfigurator.php
phpmailer/phpmailer/src/OAuth*
phpmailer/phpmailer/src/POP3.php
simplepie/simplepie/.*
!simplepie/simplepie/.editorconfig
!simplepie/simplepie/.github/README.md
!simplepie/simplepie/.gitignore
simplepie/simplepie/autoloader.php
simplepie/simplepie/build/
simplepie/simplepie/compatibility_test/
simplepie/simplepie/composer.json
simplepie/simplepie/db.sql
simplepie/simplepie/demo/
simplepie/simplepie/idn/
simplepie/simplepie/library/
simplepie/simplepie/phpunit.xml.dist
simplepie/simplepie/ROADMAP.md
simplepie/simplepie/tests/
