/*=== Feed articles */
.flux {
    // border-left: 2px solid #ecf0f1;
    background: $white;

    @include transition(all, 0.15s, ease-in-out);
    
    &:hover{
	background: $grey-lighter;

	&:not(.current):hover .item.title {
	    background: $grey-lighter;

	    
	}
    }
    &.current{
	border-left-color: $main-first;
	background: $white;
    }
    &.not_read{
	background: $unread-bg; //--------------------
	// border-left-color: #FF5300;	

	&:hover{
	    background: $unread-bg-light; //--------------------
	}
	
	&:not(.current):hover .item.title {
	    background: $unread-bg-light;

	    
	}
	.item.title{
	    a{
		color: $unread-font-color; //--------------------	
	    }
	    
	}
	.item.website{
	    a{
		color: $unread-font-color; //--------------------	
	    }
	}
	.item.date{
	    color: unquote($unread-font-color+"99"); //--------------------
	}
}
    
    &.favorite {
	background: $fav-light;
	border-left-color: $fav-bg;

	@include transition(all, 0.15s, ease-in-out);

	&:not(.current):hover .item.title {
	    background: $fav-light;
	}
    }

    .website{
	a{
	    color: $main-font-color;
	    opacity: 0.75;
	}
	
	.favicon {
	    padding: 5px;
	}
    }
    .date {
	font-size: 0.85rem;
	color: $main-font-color;
	opacity: 0.75;
    }

    .bottom {
	font-size: 1rem;
	text-align: center;
    }
}

.flux_header {
    font-size: 1rem;
    cursor: pointer;
    border-top: 1px solid $grey-light;

    .title {
	font-size: 1rem;
    }
}

