@use "variables";

/*=== READER VIEW */
/*================*/
#stream.reader .flux {
	padding: 0 0 50px;
	background: variables.$grey-light;
	color: variables.$main-font-color;
	border: none;
}

#stream.reader .flux .author {
	margin: 0 0 10px;
	color: variables.$grey-medium-dark;
	font-size: 90%;
}
