/*=== Tables */
table {
	border-collapse: collapse;
}

tr, th, td {
	padding: 0.5em;
	border: 1px solid $grey-medium-light;
}

th {
	background: $grey-lighter;
}

form td,
form th {
	font-weight: normal;
	text-align: center;
}
