// La couleur principale du thème
$main-first: #ca7227; // couleur principale
$main-first-alt: #b7641d; // var pour les hovers
$main-first-light: #fdf6ef; // var light 1
$main-first-lighter: #fefaf7; // var light 2
$main-first-dark: #3c3835; // var pour les hovers
$main-first-darker: #221f1d; // var pour les hovers

// les couleurs de polices liées
$main-font-color: #363330;
$light-font-color: #6d655f;
$white: #fff; // le blanc (des fois qu’on aurait envie de le teinter un peu)

// toute la palette des gris, très utile
// on essaiera de teinter ces gris suivant la couleur principale
$grey-darker: #524236;
$grey-dark: #766556;
$grey-medium-dark: #ba9;
$grey-medium: #d9ccbf;
$grey-medium-light: #e4d8cc;
$grey-light: #f5f0ec;
$grey-lighter: #fcfaf8;

$unread-font-color: #161a38;
$unread-bg: #f2f6f8;
$unread-bg-light: #fdfdfe;

// les couleurs d’alertes (rouge, jaune, vert)
$alert-bg: #f5633e; // la base
$alert-light: #fde0d8; // +light
$alert-text: #73341f; // +foncé

$warning-bg: #f4f762;
$warning-light: #fdfde0;
$warning-text: #73762f;

$success-bg: #10f5b2;
$success-light: #cffdef;
$success-text: #0c7556;

// les favoris
$fav-bg: #ffc300;
$fav-light: #fff6da;

// la couleur de sidebar, utile si on a envie d’un thème qui aurait une sidebar foncé, e.g.
$sid-font-color: #363330; // la couleur de fond de la barre de gauche et du header
$sid-bg: #fbf9f6; // le background général de la barre de gauche, et du header
$sid-bg-alt: #f7f2ea; // le background de l’intérieur des groupes
$sid-bg-dark: #efe3d3; // les hovers
$sid-sep: #f0e7da; // les séparateurs
$sid-active: $main-first; // la couleur active
$sid-active-font: #fff; // la couleur active
$sid-pills: rgba(35,35,0, 0.15); // les gélules
