@use "fonts";

@use "mixins";

@use "variables";

@use "forms";

@use "tables";

@use "components";

@use "divers";

@use "sidebar";

@use "layout";

@use "list-view";

@use "global-view";

@use "reader-view";

@use "configuration";

@use "logs";

@use "stats";

@use "mobile";

@charset "UTF-8";

/*=== GENERAL */
/*============*/
html, body {
	background: variables.$grey-light;
	color: variables.$unread-font-color;
	font-family: "lato", "Helvetica", "Arial", sans-serif;
	font-size: 0.875rem;
}

body.formLogin,
body.register {
	background: variables.$sid-bg;
}

/*=== Links */
a, button.as-link {
	outline: none;
	color: variables.$main-first;
}
