@font-face {
	font-family: "lato";
	font-style: normal;
	font-stretch: normal;
	font-weight: 400;
	src: local("Lato"), url("../fonts/LatoLatin-Regular.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: italic;
	font-stretch: normal;
	font-weight: 400;
	src: local("Lato"), url("../fonts/LatoLatin-Italic.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: normal;
	font-stretch: normal;
	font-weight: 700;
	src: local("Lato"), url("../fonts/LatoLatin-Bold.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: italic;
	font-stretch: normal;
	font-weight: 700;
	src: local("Lato"), url("../fonts/LatoLatin-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: "spectral";
	font-style: normal;
	font-stretch: normal;
	font-weight: 400;
	src: local("Spectral"), url("../fonts/Spectral-Regular.woff") format("woff");
}
@font-face {
	font-family: "spectral";
	font-style: italic;
	font-stretch: normal;
	font-weight: 400;
	src: local("Spectral"), url("../fonts/Spectral-Italic.woff") format("woff");
}
@font-face {
	font-family: "spectral";
	font-style: normal;
	font-stretch: normal;
	font-weight: 700;
	src: local("Spectral"), url("../fonts/Spectral-Bold.woff") format("woff");
}
@font-face {
	font-family: "spectral";
	font-style: italic;
	font-stretch: normal;
	font-weight: 700;
	src: local("Spectral"), url("../fonts/Spectral-BoldItalic.woff") format("woff");
}
/* stylelint-disable property-no-vendor-prefix */
/* FUNCTIONS */
/* btns */
.btn {
	margin: 0;
	padding: 0.5rem 1.5rem;
	background: #fcfaf8;
	color: #766556;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	min-height: 25px;
	min-width: 15px;
	line-height: 25px;
	vertical-align: middle;
	transition: all 0.15s ease-in-out;
}
.btn.btn-important {
	background: #ca7227;
	color: #fff;
}
.btn.btn-important:hover, .btn.btn-important:active {
	background: #b7641d;
}
.btn.btn-important img {
	filter: brightness(3);
}
.btn.btn-attention {
	background: #f5633e;
	color: #fff;
}
.btn.btn-attention:hover, .btn.btn-attention:active {
	background: #73341f;
}
.btn:hover {
	text-decoration: none;
}

/*=== Forms */
legend {
	margin: 2rem 0 1rem 0;
	padding: 0;
	display: inline-block;
	width: auto;
	font-size: 1rem;
	clear: both;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

label {
	min-height: 25px;
	padding: 5px 0;
	cursor: pointer;
	color: #766556;
}

textarea {
	max-width: 100%;
	width: 360px;
	height: 100px;
}

input, select, textarea, button {
	padding: 5px 10px;
	background: #fff;
	color: #766556;
	font-family: "lato", "Helvetica", "Arial", sans-serif;
	font-size: 1rem;
	border: 1px solid #f5f0ec;
	border-radius: 2px;
	min-height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

select {
	padding-top: 9px;
	padding-bottom: 9px;
}

option {
	padding: 0 0.5em;
}

input:focus, select:focus, textarea:focus {
	color: #363330;
	border-color: #ca7227;
}

input:invalid, select:invalid {
	color: #f5633e;
	border-color: #f5633e;
	box-shadow: none;
}

input:disabled, select:disabled {
	color: #ba9;
	border-color: #ba9;
}

.form-group {
	padding: 5px;
	border-radius: 3px;
}
.form-group::after {
	display: block;
	clear: both;
}
.form-group .group-name {
	padding: 10px 0;
}
.form-group .group-controls {
	min-height: 25px;
	padding: 5px 0;
}
.form-group .group-controls .control {
	line-height: 2em;
}
.form-group.form-actions {
	margin: 15px 0 25px;
	padding: 5px 0;
}
.form-group.form-actions .btn {
	margin: 0 0.5rem 0 0;
}

/*=== Tables */
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #e4d8cc;
}

th {
	background: #fcfaf8;
}

form td,
form th {
	font-weight: normal;
	text-align: center;
}

/*=== COMPONENTS */
/*===============*/
/*=== Forms */
/*=== Horizontal-list */
.horizontal-list {
	padding: 0.1rem 0;
}
.horizontal-list .item:first-child {
	padding-left: 0.5rem;
}

/*=== Dropdown */
.dropdown .dropdown-target:target + .btn {
	background-color: #e4d8cc;
}

.dropdown-menu {
	margin: 9px 0 0 0;
	padding: 0.5rem 0 1rem 0;
	background: #fcfaf8;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.35);
	text-align: left;
}
.dropdown-menu::after {
	border: none;
	right: 17px;
}
.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-section .dropdown-section-title {
	padding: 1rem 1.5rem;
	font-weight: bold;
	text-align: left;
	color: #766556;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.dropdown-menu .item {
	transition: all 0.075s ease-in-out;
}
.dropdown-menu .item > a,
.dropdown-menu .item > span,
.dropdown-menu .item > .as-link {
	padding: 0 2rem;
	color: #363330;
	font-size: inherit;
	line-height: 2.5em;
}
.dropdown-menu .item > a span.icon,
.dropdown-menu .item > span span.icon,
.dropdown-menu .item > .as-link span.icon {
	padding: 0 0.25rem !important;
}
.dropdown-menu .item > a:not(.addItem):hover,
.dropdown-menu .item > .as-link:not(.addItem):hover {
	background: #ca7227;
	color: #fff;
}
.dropdown-menu .item > a:not(.addItem):hover .icon,
.dropdown-menu .item > .as-link:not(.addItem):hover .icon {
	filter: grayscale(100%) brightness(2.5);
}
.dropdown-menu .item.dropdown-section {
	margin-top: 0.75rem;
}
.dropdown-menu .item.dropdown-section ~ .dropdown-section {
	border-top-color: #f5f0ec;
}
.dropdown-menu .item.dropdown-section .item a, .dropdown-menu .item.dropdown-section .item .as-link {
	padding-left: 2rem;
}
.dropdown-menu .item:not(.addItem) > a:hover,
.dropdown-menu .item:not(.addItem) button:hover {
	background: #ca7227;
	color: #fff;
}
.dropdown-menu .item:not(.addItem) > a:hover .icon,
.dropdown-menu .item:not(.addItem) button:hover .icon {
	filter: brightness(3);
}
.dropdown-menu .item[aria-checked=true] a::before {
	margin: 0 0 0 -14px;
	font-weight: bold;
}
.dropdown-menu .item ~ .dropdown-header {
	margin-top: 0.75rem;
	padding-top: 1.75rem;
	border-top-color: #f5f0ec;
}
.dropdown-menu .item.separator {
	margin-top: 0.75rem;
	border-top-color: #f5f0ec;
}
.dropdown-menu .input select, .dropdown-menu .input input {
	margin: 0 auto 5px;
	padding: 2px 5px;
	border-radius: 3px;
}

.tree .tree-folder .tree-folder-items .dropdown-menu .item {
	padding: 0;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item a,
.tree .tree-folder .tree-folder-items .dropdown-menu .item button {
	color: #363330;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item a:hover,
.tree .tree-folder .tree-folder-items .dropdown-menu .item button:hover {
	color: #fff;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item:hover {
	background: #ca7227;
}

/*=== Alerts */
.alert {
	background: #fcfaf8;
	color: #766556;
	font-size: 1rem;
	border: 1px solid #d9ccbf;
	border-radius: 3px;
	text-shadow: 0 0 1px #f5f0ec;
}

.alert-head {
	font-size: 1.15em;
}

.alert > a {
	text-decoration: underline;
	color: inherit;
}

.alert-warn {
	background: #fdfde0;
	color: #73762f;
	border: 1px solid #73762f33;
}

.alert-success {
	background: #cffdef;
	color: #0c7556;
	border: 1px solid #0c755633;
}

.alert-error {
	background: #fde0d8;
	color: #73341f;
	border: 1px solid #73341f33;
}

/*=== Pagination */
.pagination {
	background: #f5f0ec;
	color: #363330;
}
.pagination .item a {
	color: #363330;
}

#load_more.loading,
#load_more.loading:hover {
	background: url("loader.gif") center center no-repeat #34495e;
}

/*=== Boxes */
.box {
	background: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.box .box-title {
	margin: 0;
	padding: 0.5rem 0.75rem;
	background: #f5f0ec;
	color: #363330;
	border-radius: 2px 2px 0 0;
}
.box .box-content {
	padding-left: 30px;
}
.box .box-content .item {
	padding: 0.5rem 0;
	color: #363330;
	font-size: 1rem;
	border-bottom: 1px solid #f5f0ec;
	line-height: 1.7em;
}
.box .box-content .item:last-child {
	border-bottom: none;
}
.box .configure {
	margin-right: 0.5rem;
	padding: 0.25rem;
	border-radius: 3px;
}
.box .configure .icon {
	vertical-align: middle;
}
.box .configure:hover {
	border-radius: 2px;
	background-color: #ca7227;
}
.box .configure:hover .icon {
	filter: brightness(3);
}

/*=== "Load more" part */
#bigMarkAsRead {
	text-align: center;
	text-decoration: none;
	background: #fdf6ef;
	color: #ca7227;
	transition: all 0.15s ease-in-out;
}
#bigMarkAsRead:hover {
	background: #ca7227;
	color: #fff;
}
#bigMarkAsRead:hover .bigTick {
	filter: brightness(7);
}
#bigMarkAsRead .bigTick {
	margin: 0.5rem 0;
	background: url(icons/tick-color.svg) center no-repeat;
	display: inline-block;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	white-space: nowrap;
}

/*=== DIVERS */
/*===========*/
.aside.aside_feed .nav-form input,
.aside.aside_feed .nav-form select {
	width: 140px;
}

.aside.aside_feed .nav-form .dropdown .dropdown-menu {
	right: -20px;
}

.aside.aside_feed .nav-form .dropdown .dropdown-menu::after {
	right: 33px;
}

/*=== Tree */
.tree {
	margin: 10px 0;
}
.tree#sidebar {
	scrollbar-color: rgba(255, 255, 0, 0.1) rgba(0, 0, 0, 0.05);
	scrollbar-color: #36333033 #36333022;
}
.tree .tree-folder {
	border-bottom: 1px solid #f0e7da;
	box-shadow: inset -1px -11px 8px rgba(0, 0, 0, 0.2);
}
.tree .tree-folder .tree-folder-title {
	padding: 1rem;
	background: #fbf9f6;
	position: relative;
	font-size: 0.85rem;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}
.tree .tree-folder .tree-folder-title .title {
	background: inherit;
	color: #363330;
}
.tree .tree-folder .tree-folder-title .title:hover {
	text-decoration: none;
}
.tree .tree-folder.active .tree-folder-title {
	background: #fbf9f6;
	font-weight: bold;
}
.tree .tree-folder .tree-folder-items {
	background: #f7f2ea;
}
.tree .tree-folder .tree-folder-items .item {
	padding: 0 1rem;
	line-height: 2.5rem;
	font-size: 1rem;
	font-weight: 400;
	transition: all 0.15s ease-in-out;
}
.tree .tree-folder .tree-folder-items .item.active {
	background: #ca7227;
}
.tree .tree-folder .tree-folder-items .item.active .dropdown li a {
	color: #363330;
}
.tree .tree-folder .tree-folder-items .item.active .dropdown li a:hover {
	color: #363330;
}
.tree .tree-folder .tree-folder-items .item.active a {
	color: #ffffff;
}
.tree .tree-folder .tree-folder-items .item:hover {
	background: #efe3d3;
}
.tree .tree-folder .tree-folder-items .item a {
	text-decoration: none;
	color: #363330;
}

/*=== Buttons */
.stick input, .stick .btn,
.group input,
.group .btn {
	border-radius: 0;
}
.stick .btn:first-child,
.group .btn:first-child {
	border-radius: 5px 0 0 5px;
}
.stick .btn:last-child, .stick input:last-child, .stick .dropdown:last-child > .btn,
.group .btn:last-child,
.group input:last-child,
.group .dropdown:last-child > .btn {
	border-radius: 0 5px 5px 0;
}
.stick .btn + .btn,
.stick .btn + input,
.stick .btn + .dropdown > .btn,
.stick input + .btn,
.stick input + input,
.stick input + .dropdown > .btn,
.stick .dropdown + .btn,
.stick .dropdown + input,
.stick .dropdown + .dropdown > .btn,
.group .btn + .btn,
.group .btn + input,
.group .btn + .dropdown > .btn,
.group input + .btn,
.group input + input,
.group input + .dropdown > .btn,
.group .dropdown + .btn,
.group .dropdown + input,
.group .dropdown + .dropdown > .btn {
	border-left: 1px solid #e4d8cc;
}

.aside {
	background: #fbf9f6;
}
.aside.aside_feed {
	padding: 10px 0;
	text-align: center;
	background: #fbf9f6;
	border-right: 1px solid #f0e7da;
}
.aside.aside_feed .tree {
	margin: 10px 0 50px;
}

/* Sidebar des pages de configuration */
/*=== Navigation */
.nav-list {
	font-size: 1rem;
}
.nav-list .item.nav-header,
.nav-list .item {
	min-height: 2.5em;
	line-height: 2.5em;
}
.nav-list .item {
	background: #fbf9f6;
	min-height: 2.5em;
	line-height: 2.5em;
}
.nav-list .item.nav-header {
	min-height: 2.5em;
	line-height: 2.5em;
}
.nav-list .item a {
	padding: 0 1rem;
	color: #363330;
	transition: all 0.15s ease-in-out;
}
.nav-list .item a:hover {
	background: #efe3d3;
	text-decoration: none;
}
.nav-list .item.active {
	background: #ca7227;
	color: #fff;
}
.nav-list .item.active a {
	background: #ca7227;
	color: #fff;
	text-decoration: none;
}
.nav-list .nav-header {
	padding: 0 1rem;
	font-weight: bold;
	color: #766556;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
}
.nav-list .nav-form {
	padding: 3px;
	text-align: center;
}

/*=== Aside main page (categories) */
.aside_feed .tree-folder-title > .title:not([data-unread="0"]) {
	width: calc(100% - 35px - 35px);
}

.aside.aside_feed .category .title:not([data-unread="0"])::after {
	margin: 1rem 0 0 0;
	background-color: rgba(35, 35, 0, 0.15);
}

.aside.aside_feed .feed .item-title:not([data-unread="0"])::after {
	margin: 0.5em 0 0 0;
	background-color: rgba(35, 35, 0, 0.15);
}

.feed.item.empty.active {
	background: #766556;
}

.feed.item.error.active {
	background: #766556;
}

.feed.item.empty,
.feed.item.empty > a {
	color: #766556;
}

.feed.item.error,
.feed.item.error > a {
	color: #766556;
}

.feed.item.empty.active,
.feed.item.error.active,
.feed.item.empty.active > a,
.feed.item.error.active > a {
	color: #fff;
}

.aside_feed .tree-folder-items .dropdown-menu::after {
	left: 2px;
}

.aside_feed .tree-folder-items .item .dropdown-target:target ~ .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item:hover .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item.active .dropdown-toggle > .icon {
	border-radius: 3px;
}

.aside_feed .stick #btn-add {
	border-left-color: #fbf9f6;
}

/*=== STRUCTURE */
/*===============*/
/*=== Header */
.header {
	background: #fbf9f6;
}
.header .item {
	vertical-align: middle;
}
.header .item.title a {
	padding: 0.5rem 1rem;
}
.header .item.title a .logo {
	filter: invert(80%);
}
.header .item.title a:hover .logo {
	filter: invert(80%) opacity(80%);
}
.header .item.search input {
	width: 350px;
	color: #363330;
	border: none;
	border-radius: 2px 0 0 2px;
	background-color: #f7f2ea;
	transition: all 0.15s ease-in-out;
}
.header .item.search input:hover {
	background-color: #efe3d3;
}
.header .item.search input:focus {
	color: #766556;
	background-color: #fff;
}
.header .item.search input:focus ~ .btn,
.header .item.search input:hover ~ .btn {
	background-color: #ca7227;
}
.header .item.search input:focus ~ .btn .icon,
.header .item.search input:hover ~ .btn .icon {
	filter: brightness(3);
}
.header .item.search .btn {
	width: 3rem;
	border-radius: 0 2px 2px 0;
	background-color: #f7f2ea;
	border-left-width: 0;
	min-height: 35px;
}
.header .item.search .btn .icon {
	filter: invert(49%) sepia(13%) saturate(2426%) hue-rotate(346deg) brightness(99%) contrast(95%);
}
.header .item.search .btn:hover {
	background-color: #b7641d;
}
.header .item.search .btn:hover .icon {
	filter: brightness(3);
}
.header .item.configure {
	text-align: center;
}
.header .item.configure .btn {
	padding: 0.25rem 1rem;
	background-color: transparent;
}

/*=== Body */
#global {
	height: calc(100vh - (3rem + 2 * var(--frss-padding-top-bottom)));
}

/*=== Prompt (centered) */
main.prompt {
	background: #f5f0ec;
	border-radius: 5px;
}

/*=== New article notification */
#new-article {
	background: #ca7227;
	font-size: 1rem;
	text-align: center;
}

#new-article > a {
	padding: calc(0.75rem + var(--frss-padding-top-bottom)) 1rem;
	font-weight: bold;
	color: #fff;
}

#new-article > a:hover {
	text-decoration: none;
	background: #b7641d;
}

/*=== Day indication */
.day {
	padding: 1rem 0 0 1.25rem;
	color: #6d655f;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 3em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.day .name {
	padding: 0 1rem 0 1rem;
	color: #363330;
	font-size: 0.875rem;
	position: relative;
	left: 0;
	text-transform: uppercase;
}

.btn {
	border-left-width: 0;
	padding: 0.5rem 1rem;
	background-color: #f5f0ec;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.15s ease-in-out;
}
.btn:hover {
	background-color: #e4d8cc;
}
.btn.active {
	background-color: #ca7227;
}

/*=== Index menu */
.nav_menu {
	text-align: center;
	padding: 5px 0;
}
.nav_menu .btn {
	border-left-width: 0;
	padding: 0.5rem 1rem;
	background-color: #fcfaf8;
	background-position: center;
	background-repeat: no-repeat;
}
.nav_menu .btn:hover {
	background-color: #e4d8cc;
}
.nav_menu .stick .btn,
.nav_menu .group .btn {
	border-left-width: 0;
	padding: 0.5rem 1rem;
	background-color: #fcfaf8;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.15s ease-in-out;
}
.nav_menu .stick .btn:hover,
.nav_menu .group .btn:hover {
	background-color: #e4d8cc;
}
.nav_menu .stick .btn.active,
.nav_menu .group .btn.active {
	background-color: #ca7227;
}
.nav_menu .stick .btn.active .icon,
.nav_menu .group .btn.active .icon {
	filter: brightness(5);
}
.nav_menu .stick .btn.read_all,
.nav_menu .group .btn.read_all {
	padding: 5px 16px;
	color: #363330;
	background-color: #fcfaf8;
	transition: all 0.15s ease-in-out;
}
.nav_menu .stick .btn.read_all:hover,
.nav_menu .group .btn.read_all:hover {
	background-color: #e4d8cc;
}
.nav_menu .stick .dropdown:not(#dropdown-search-wrapper) a.dropdown-toggle,
.nav_menu .group .dropdown:not(#dropdown-search-wrapper) a.dropdown-toggle {
	border-left-width: 0;
	background-image: url(icons/more.svg);
}
.nav_menu .stick .dropdown:not(#dropdown-search-wrapper) a.dropdown-toggle .icon,
.nav_menu .group .dropdown:not(#dropdown-search-wrapper) a.dropdown-toggle .icon {
	display: none;
}
.nav_menu .stick #dropdown-search-wrapper.dropdown a.dropdown-toggle,
.nav_menu .group #dropdown-search-wrapper.dropdown a.dropdown-toggle {
	border-left-width: 0;
}

#dropdown-query ~ .dropdown-menu .dropdown-header .icon {
	vertical-align: middle;
	border-radius: 3px;
}

/*=== Content of feed articles */
.content, .content.thin {
	padding: 20px 10px;
	font-size: 1.125rem;
	line-height: 1.8rem;
}
.content h1.title a, .content h1 a, .content.thin h1.title a, .content.thin h1 a {
	color: #363330;
	font-family: "spectral", serif;
	font-size: 2rem;
}
.content h1.title a:hover, .content h1 a:hover, .content.thin h1.title a:hover, .content.thin h1 a:hover {
	color: #ca7227;
	text-decoration: none;
}
.content .author, .content.thin .author {
	color: #6d655f;
	font-size: 1.125rem;
}
.content p, .content ul, .content.thin p, .content.thin ul {
	font-size: 1.125rem;
	line-height: 1.8rem;
}
.content .content hr, .content.thin .content hr {
	margin: 30px 10px;
	background: #e4d8cc;
	height: 1px;
	border: 0;
	box-shadow: 0 2px 5px #ccc;
}
.content pre, .content.thin pre {
	margin: 10px auto;
	padding: 10px 20px;
	overflow: auto;
	background: #221f1d;
	color: #fff;
	font-size: 0.9rem;
	border-radius: 3px;
}
.content pre code, .content.thin pre code {
	background: transparent;
	color: #fff;
	border: none;
}
.content code, .content.thin code {
	padding: 2px 5px;
	background: #fcfaf8;
	border: 1px solid #f5f0ec;
	border-radius: 3px;
}
.content blockquote, .content.thin blockquote {
	margin: 0;
	padding: 5px 20px;
	background: #fcfaf8;
	display: block;
	color: #363330;
	border-top: 1px solid #e4d8cc;
	border-bottom: 1px solid #e4d8cc;
}
.content blockquote p, .content.thin blockquote p {
	margin: 0;
}

/*=== Notification and actualize notification */
.notification {
	padding: 1rem 0;
	background: #e4d8cc;
	width: 100%;
	height: 3rem;
	color: #766556;
	font-size: 1em;
	border: none;
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
}
.notification a {
	color: #000;
}
.notification .msg {
	display: inline-block;
	font-size: 1rem;
}
.notification.good {
	background: #10f5b2;
	color: #fff;
}
.notification.bad {
	background: #f5633e;
	color: #fff;
}
.notification a.close {
	border-radius: 0 3px 3px 0;
}
.notification.good a.close:hover {
	background: #0c7556;
}
.notification.bad a.close:hover {
	background: #73341f;
}
.notification#actualizeProgress br {
	display: none;
}
.notification#actualizeProgress .title {
	margin: 0 2rem;
}

/*=== Navigation menu (for articles) */
#nav_entries {
	margin: 0;
	text-align: center;
	line-height: 3em;
	table-layout: fixed;
	background: #fbf9f6;
}

/*=== Feed articles */
.flux {
	background: #fff;
	transition: all 0.15s ease-in-out;
}
.flux .flux_header:hover {
	background: #fcfaf8;
}
.flux .flux_header:hover:not(.current):hover .item.title {
	background: #fcfaf8;
}
.flux.current {
	background: #fff;
	border-left-color: #ca7227;
}
.flux.current:not(.active) {
	background: #fcfaf8;
}
.flux.not_read:not(.current) {
	background: #f2f6f8;
}
.flux.not_read:not(.current):hover .item.title {
	background: #f2f6f8;
}
.flux.not_read .item.title a {
	color: #161a38;
}
.flux.not_read .item.website a {
	color: #161a38;
}
.flux.not_read .item.date {
	color: rgba(22, 26, 56, 0.5);
}
.flux.favorite {
	border-left-color: #ffc300;
	transition: all 0.15s ease-in-out;
}
.flux.favorite:not(.current) {
	background: #fff6da;
}
.flux.favorite:not(.current):hover .item.title {
	background: #fff6da;
}
.flux .website a {
	color: #363330;
	opacity: 0.75;
}
.flux .item.date {
	color: rgba(54, 51, 48, 0.5);
	font-size: 0.85rem;
}
.flux .bottom {
	font-size: 1rem;
	text-align: center;
}

.flux_header {
	font-size: 1rem;
	cursor: pointer;
	border-top: 1px solid #f5f0ec;
}
.flux_header .title {
	font-size: 1rem;
}

/*=== GLOBAL VIEW */
/*================*/
#stream .box.category:not([data-unread="0"]) .box-title .title {
	font-weight: bold;
}
#stream .box.category .box-title {
	padding: 1.5rem;
	background: none;
}
#stream .box.category .box-title a.title {
	color: #766556;
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#stream .box.category .box-title a.title:not([data-unread="0"])::after {
	margin: -0.5rem 1rem 0 0;
	padding: 0 0.75rem;
	background: #f5f0ec;
	border-radius: 12px;
	position: absolute;
	top: 1.75rem;
	right: 0;
	line-height: 1.5rem;
	text-align: center;
}
#stream .box.category .box-title a.title:hover {
	color: #ca7227;
}
#stream .box.category .box-content .item.feed a {
	color: #363330;
	font-weight: 400;
}
#stream .box.category .box-content .item.feed a:hover {
	color: #ca7227;
	text-decoration: none;
}

#overlay {
	background: rgba(0, 0, 0, 0.65);
}

#panel {
	top: 3rem;
	right: 3rem;
	bottom: 3rem;
	left: 3rem;
	border-radius: 3px;
}

/*=== READER VIEW */
/*================*/
#stream.reader .flux {
	background: #f5f0ec;
	color: #363330;
	border: none;
}
#stream.reader .flux .content {
	background-color: #fff;
	border: none;
}
#stream.reader .flux .content .author {
	margin: 0 0 10px;
	color: #ba9;
	font-size: 90%;
}

/*=== Configuration pages */
.post {
	font-size: 1rem;
}
.post h1, .post h2 {
	color: #363330;
	font-size: 2rem;
	margin-top: 1.75rem;
	font-weight: 300;
	line-height: 1.2em;
}
.post h2 {
	font-size: 1.5rem;
}
.post a[href="./"] {
	margin: 0;
	padding: 0.75rem 1.5rem;
	background: #fcfaf8;
	display: inline-block;
	color: #766556;
	font-size: 1rem;
	border: 1px solid #e4d8cc;
	border-radius: 5px;
	min-width: 15px;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
}
.post a[href="./"]:hover {
	background: #ca7227;
	color: white;
	border: 1px solid #ca7227;
	text-decoration: none;
}

#slider {
	border-left: none;
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.35);
}

.theme-preview-list .preview-container .properties {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	border: 0;
}
.theme-preview-list .preview-container .properties .page-number {
	right: 1rem;
	top: 1rem;
}

/*=== LOGS */
/*=========*/
.log-item.log-error {
	background-color: rgba(202, 114, 39, 0.2);
}

/*=== STATISTICS */
/*===============*/
.stat {
	margin: 10px 0 20px;
}

.stat th,
.stat td,
.stat tr {
	border: none;
}

.stat > table td,
.stat > table th {
	border-bottom: 1px solid #e4d8cc;
}

/*=== MOBILE */
/*===========*/
@media (max-width: 840px) {
	.aside {
		transition: all 0.2s ease-in-out;
	}
	.aside.aside_feed {
		padding: 0;
	}
	.aside .tree .tree-folder .tree-folder-items .item a {
		padding: 0.5rem 1rem;
	}
	.aside .toggle_aside,
#overlay .close,
.dropdown-menu .toggle_aside,
#slider .toggle_aside {
		background-color: #ca7227;
	}
	.aside .toggle_aside:hover,
#overlay .close:hover,
.dropdown-menu .toggle_aside:hover,
#slider .toggle_aside:hover {
		background-color: #b7641d;
	}
	.aside .toggle_aside .icon,
#overlay .close .icon,
.dropdown-menu .toggle_aside .icon,
#slider .toggle_aside .icon {
		filter: grayscale(100%) brightness(2.5);
	}
	.header .item.search {
		display: none;
	}
	.header .item.configure {
		position: absolute;
		top: 0;
		right: 0;
	}
	#global {
		height: calc(100% - 8rem);
	}
	#panel {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.post {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.nav_menu .btn {
		margin: 0;
		padding: 0.85rem 1.25rem;
	}
	.nav_menu .stick,
.nav_menu .group {
		margin: 0.5rem 0.5rem;
	}
	.nav_menu .stick .btn,
.nav_menu .group .btn {
		margin: 0;
		padding: 0.85rem 1.25rem;
	}
	.nav_menu .stick .btn.read_all,
.nav_menu .group .btn.read_all {
		padding: 0.85rem 1.25rem;
	}
	.nav_menu .search .input {
		max-width: 97%;
		width: 90px;
	}
	.nav_menu .search .input:focus {
		width: 400px;
	}
	#stream .flux .flux_header {
		padding: 0.5rem 0;
	}
	.dropdown-target:target ~ .dropdown-toggle::after {
		background-color: #fcfaf8;
		border-top: 1px solid #f5f0ec;
		border-left: 1px solid #f5f0ec;
		right: 21px;
		bottom: -14px;
	}
	.dropdown-target:target ~ a.dropdown-toggle:not(.btn) ~ .dropdown-menu {
		margin-top: 0;
	}
	.dropdown-target:target ~ a.dropdown-toggle:not(.btn)::after {
		bottom: -17px;
	}
	.day {
		text-align: center;
		padding: 1rem 0;
	}
	.day .name {
		padding: 0;
		display: block;
		width: 100%;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
	#nav_entries {
		line-height: 4.5rem;
	}
	.notification {
		border-radius: 0;
	}
	.notification a.close {
		background: transparent;
		display: block;
		left: 0;
	}
	.notification a.close:hover {
		opacity: 0.5;
	}
	.notification a.close .icon {
		display: none;
	}
}
/*=== GENERAL */
/*============*/
html, body {
	background: #f5f0ec;
	color: #161a38;
	font-family: "lato", "Helvetica", "Arial", sans-serif;
	font-size: 0.875rem;
}

body.formLogin,
body.register {
	background: #fbf9f6;
}

/*=== Links */
a, button.as-link {
	outline: none;
	color: #ca7227;
}