<IfModule mod_setenvif.c>
	SetEnvIfNoCase "Authorization" "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>
<IfModule !mod_setenvif.c>
	<IfModule mod_rewrite.c>
		RewriteEngine on
		RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	</IfModule>
</IfModule>
