/*=== COMPONENTS */
/*===============*/
/*=== Forms */
// parti dans _forms.scss

/*=== Horizontal-list */
.horizontal-list {
	margin: 0;
	padding: 0.1rem 0;

	.item {
		vertical-align: middle;

		&:first-child {
			padding-left: 0.5rem;
		}

	}
}

/*=== Dropdown */
.dropdown-menu {
	margin: 0;
	padding: 0.5rem 0 1rem 0;
	background: $grey-lighter;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.35);
	text-align: left;

	&::after {
		background: white;
		width: 10px;
		height: 10px;
		content: "";
		position: absolute;
		top: -4px;
		right: 13px;
		z-index: -10;
		transform: rotate(45deg);
		// border-top: 1px solid #95a5a6;
		// border-left: 1px solid #95a5a6;
	}

	.dropdown-header {
		// padding: 0 5px 5px;
		margin: 1.75rem 0 0.5rem 2rem;
		font-weight: bold;
		text-align: left;
		color: $grey-dark;
		text-transform: uppercase;
		letter-spacing: 1px;

	}

	.item {

		@include transition(all, 0.075s, ease-in-out);

		a, span, .as-link {
			padding: 0 2rem;
			color: $main-font-color;
			font-size: 1rem;
			line-height: 2.5em;
		}

		&:hover {
			background: $main-first;
			color: $white;

			a, button {
				text-decoration: none;
				color: $white;
			}
		}

		&[aria-checked="true"] {
			a::before {
				margin: 0 0 0 -14px;
				font-weight: bold;
			}
		}
	}

	.input {
		select, input {
			margin: 0 auto 5px;
			padding: 2px 5px;
			border-radius: 3px;
		}
	}

	.separator {
		margin: 0.75rem 0;
		border-bottom: 1px solid $grey-light;
		// display: none;
	}

}

.tree .tree-folder .tree-folder-items .dropdown-menu {
	// tout ça sert à restaurer l’apparence du dropdown dans un contexte de sidebar sombre
	.item {
		padding: 0;

		a,
		button {
			color: $main-font-color;

			&:hover {
				color: $white;
			}
		}

		&:hover {
			background: $main-first;
		}
	}
}




/*=== Alerts */
.alert {
	margin: 1rem 0;
	// width: 100%;
	padding: 1rem;
	background: $grey-lighter;
	color: $grey-dark;
	font-size: 1rem;
	border: 1px solid $grey-medium;
	border-radius: 3px;
	text-shadow: 0 0 1px $grey-light;
}

.alert-head {
	font-size: 1.15em;
}

.alert > a {
	text-decoration: underline;
	color: inherit;
}

.alert-warn {
	background: $warning-light;
	color: $warning-text;
	border: 1px solid unquote($warning-text+'33'); // on ajoute l’opacité à la fin
}

.alert-success {
	background: $success-light;
	color: $success-text;
	border: 1px solid unquote($success-text+'33');
}

.alert-error {
	background: $alert-light;
	color: $alert-text;
	border: 1px solid unquote($alert-text+'33');
}

/*=== Pagination */
.pagination {
	background: $grey-light;
	color: $main-font-color;
	font-size: 0.8em;
	text-align: center;

	.item {
		&.pager-current {
			background: $sid-bg;
			color: $grey-light;
			font-size: 1.5em;
			font-weight: bold;
		}

		a {
			display: block;
			color: $main-font-color;
			font-style: italic;
			line-height: 3em;
			text-decoration: none;

			&:hover {
				background: $main-font-color;
				color: $grey-light;
			}
		}
	}

	.loading,
	a:hover.loading {
		background: url("loader.gif") center center no-repeat #34495e;
		font-size: 0;
	}
}

.content .pagination {
	margin: 0;
	padding: 0;
}


/*=== Boxes */
.box {
	background: $white;
	// border: 1px solid #ddd;
	border: none;
	border-radius: 3px;

	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);

	.box-title {
		margin: 0;
		padding: 5px 10px;
		background: $grey-light;
		color: $main-font-color;
		// border-bottom: 1px solid #ddd;
		border-radius: 2px 2px 0 0;

		.configure {
			margin-right: 4px;
		}

		&:hover {
			.configure {
				background: url("icons/cog.svg") no-repeat 4px 4px;
				display: block;
				float: left;
				width: 1.75rem;
				height: 1.75rem;
				border-radius: 2px;
				margin-right: 0.5rem;

				.icon {
					display: none;
					border-radius: 3px;
					vertical-align: middle;
				}

				&:hover {
					background: url("icons/cog-white.svg") no-repeat 4px 4px $main-first;
				}
			}
		}


		form {
			input {
				width: 85%;
			}

			.dropdown {
				float: right;

				a.dropdown-toggle {
					padding: 0;
					// float: right;
					border-radius: 0;
					background-image: url(icons/more.svg);
					background-repeat: no-repeat;
					background-position: right 8px;

					img {
						display: none;
					}
				}
			}
		}
	}

	.box-content {
		// max-height: 260px;
		padding-left: 30px;

		.item {
			padding: 0.5rem 0;
			color: $main-font-color;
			font-size: 1rem;
			border-bottom: 1px solid $grey-light;
			line-height: 1.7em;

			img {
				margin-right: 0.75rem;
			}

			.configure {
				background: url("icons/cog.svg") no-repeat 4px 4px;
				display: block;
				float: left;
				width: 1.75rem;
				height: 1.75rem;
				border-radius: 2px;
				margin-right: 0.5rem;

				.icon {
					display: none;
					border-radius: 3px;
					vertical-align: middle;
				}

				&:hover {
					// background: $main-first;
					background: url("icons/cog-white.svg") no-repeat 4px 4px $main-first;
				}
			}

		}

		.item:last-child {
			border-bottom: none;
		}
	}
}

/*=== "Load more" part */
#bigMarkAsRead {
	text-align: center;
	text-decoration: none;
	background: $main-first-light;
	color: $main-first;

	@include transition(all, 0.15s, ease-in-out);

	&:hover {
		background: $main-first;
		color: #fff;

		.bigTick {
			background: url(icons/tick-white.svg) center no-repeat;
		}
	}

	.bigTick {
		margin: 0.5rem 0;
		background: url(icons/tick-color.svg) center no-repeat;
		display: inline-block;
		width: 64px;
		height: 64px;
		text-indent: -9999px;
		white-space: nowrap;
	}
}

// page de login
.formLogin {
	background: $sid-bg;

	.header {
		.configure {
			padding-right: 1rem;

			img {
				margin-right: 0.5rem;
			}

			a.signin {
				color: $white;
			}
		}
	}

	h1 {
		color: $white;
	}

	form#crypto-form {
		div {
			margin-bottom: 1rem;

			label {
				color: $grey-medium;
				font-size: 1rem;


			}

			input {
				background: $main-first-darker;

				&:focus {
					background: $grey-lighter;
					color: $main-font-color;
				}
			}
		}
	}
}
