/* stylelint-disable property-no-vendor-prefix */
/* FUNCTIONS */
/*=== COMPONENTS */
/*===============*/
/*=== Forms */
/*=== Horizontal-list */
.horizontal-list {
	margin: 0;
	padding: 0.1rem 0;
}
.horizontal-list .item {
	vertical-align: middle;
}
.horizontal-list .item:first-child {
	padding-left: 0.5rem;
}

/*=== Dropdown */
.dropdown-menu {
	margin: 9px 0 0 0;
	padding: 0.5rem 0 1rem 0;
	background: #f9fafb;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.35);
	text-align: left;
}
.dropdown-menu::after {
	border: none;
	right: 18px;
}
.dropdown-menu .dropdown-header {
	margin: 1.75rem 0 0.5rem 2rem;
	font-weight: bold;
	text-align: left;
	color: #5b6871;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.dropdown-menu .item {
	transition: all 0.075s ease-in-out;
}
.dropdown-menu .item a, .dropdown-menu .item span, .dropdown-menu .item .as-link {
	padding: 0 2rem;
	color: #303136;
	font-size: 1rem;
	line-height: 2.5em;
}
.dropdown-menu .item:hover {
	background: #36c;
	color: #fff;
}
.dropdown-menu .item:hover a, .dropdown-menu .item:hover button {
	text-decoration: none;
	color: #fff;
}
.dropdown-menu .item[aria-checked=true] a::before {
	margin: 0 0 0 -14px;
	font-weight: bold;
}
.dropdown-menu .input select, .dropdown-menu .input input {
	margin: 0 auto 5px;
	padding: 2px 5px;
	border-radius: 3px;
}
.dropdown-menu .separator {
	margin: 0.75rem 0;
	border-bottom: 1px solid #eff0f2;
}

.tree .tree-folder .tree-folder-items .dropdown-menu .item {
	padding: 0;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item a,
.tree .tree-folder .tree-folder-items .dropdown-menu .item button {
	color: #303136;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item a:hover,
.tree .tree-folder .tree-folder-items .dropdown-menu .item button:hover {
	color: #fff;
}
.tree .tree-folder .tree-folder-items .dropdown-menu .item:hover {
	background: #36c;
}

/*=== Alerts */
.alert {
	margin: 1rem 0;
	padding: 1rem;
	background: #f9fafb;
	color: #5b6871;
	font-size: 1rem;
	border: 1px solid #c5ced3;
	border-radius: 3px;
	text-shadow: 0 0 1px #eff0f2;
}

.alert-head {
	font-size: 1.15em;
}

.alert > a {
	text-decoration: underline;
	color: inherit;
}

.alert-warn {
	background: #fdfde0;
	color: #73762f;
	border: 1px solid #73762f33;
}

.alert-success {
	background: #cffde7;
	color: #0c7540;
	border: 1px solid #0c754033;
}

.alert-error {
	background: #fde0d8;
	color: #73341f;
	border: 1px solid #73341f33;
}

/*=== Pagination */
.pagination {
	background: #eff0f2;
	color: #303136;
	font-size: 0.8em;
	text-align: center;
}
.pagination .item.pager-current {
	background: #303136;
	color: #eff0f2;
	font-size: 1.5em;
	font-weight: bold;
}
.pagination .item a {
	display: block;
	color: #303136;
	font-style: italic;
	line-height: 3em;
	text-decoration: none;
}

#load_more.loading,
#load_more.loading:hover {
	background: url("loader.gif") center center no-repeat #34495e;
}

/*=== Boxes */
.box {
	background: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.box .box-title {
	margin: 0;
	padding: 5px 10px;
	background: #eff0f2;
	color: #303136;
	border-radius: 2px 2px 0 0;
}
.box .box-title .configure {
	margin-right: 4px;
}
.box .box-title:hover .configure {
	background: url("icons/cog.svg") no-repeat 4px 4px;
	display: block;
	float: left;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 2px;
	margin-right: 0.5rem;
}
.box .box-title:hover .configure .icon {
	display: none;
	border-radius: 3px;
	vertical-align: middle;
}
.box .box-title:hover .configure:hover {
	background: url("icons/cog-white.svg") no-repeat 4px 4px #36c;
}
.box .box-title form input {
	width: 85%;
}
.box .box-title form .dropdown {
	float: right;
}
.box .box-title form .dropdown a.dropdown-toggle {
	padding: 0;
	border-radius: 0;
	background-image: url(icons/more.svg);
	background-repeat: no-repeat;
	background-position: right 8px;
}
.box .box-title form .dropdown a.dropdown-toggle img {
	display: none;
}
.box .box-content {
	padding-left: 30px;
}
.box .box-content .item {
	padding: 0.5rem 0;
	color: #303136;
	font-size: 1rem;
	border-bottom: 1px solid #eff0f2;
	line-height: 1.7em;
}
.box .box-content .item img {
	margin-right: 0.75rem;
}
.box .box-content .item .configure {
	background: url("icons/cog.svg") no-repeat 4px 4px;
	display: block;
	float: left;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 2px;
	margin-right: 0.5rem;
}
.box .box-content .item .configure .icon {
	display: none;
	border-radius: 3px;
	vertical-align: middle;
}
.box .box-content .item .configure:hover {
	background: url("icons/cog-white.svg") no-repeat 4px 4px #36c;
}
.box .box-content .item:last-child {
	border-bottom: none;
}

/*=== "Load more" part */
#bigMarkAsRead {
	text-align: center;
	text-decoration: none;
	background: #effcfd;
	color: #36c;
	transition: all 0.15s ease-in-out;
}
#bigMarkAsRead:hover {
	background: #36c;
	color: #fff;
}
#bigMarkAsRead:hover .bigTick {
	background: url(icons/tick-white.svg) center no-repeat;
}
#bigMarkAsRead .bigTick {
	margin: 0.5rem 0;
	background: url(icons/tick-color.svg) center no-repeat;
	display: inline-block;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	white-space: nowrap;
}

.formLogin {
	background: #303136;
}
.formLogin .header .configure {
	padding-right: 1rem;
}
.formLogin .header .configure img {
	margin-right: 0.5rem;
}
.formLogin .header .configure a.signin {
	color: #fff;
}
.formLogin h1 {
	color: #fff;
}
.formLogin form#crypto-form div {
	margin-bottom: 1rem;
}
.formLogin form#crypto-form div label {
	color: #c5ced3;
	font-size: 1rem;
}
.formLogin form#crypto-form div input {
	background: #1d1e22;
}
.formLogin form#crypto-form div input:focus {
	background: #f9fafb;
	color: #303136;
}