@use "variables";

/*=== READER VIEW */
/*================*/
#stream.reader {
	.flux {
		background: variables.$grey-light;
		color: variables.$main-font-color;
		border: none;

		.flux_content {
			background-color: variables.$white;
			border: none;

			.author {
				color: variables.$grey-medium-dark;
			}
		}
	}
}
