@use "variables";

/*=== Tables */
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid variables.$grey-medium-light;
}

th {
	background: variables.$grey-lighter;
}

.config-articleicons td,
.config-articleicons th {
	font-weight: normal;
	text-align: center;
}
