@import "fonts";
@import "mixins";
@import "variables";

@import "forms";
@import "tables";
@import "components";

@import "divers";

@import "sidebar";
@import "layout";
@import "list-view";
@import "global-view";
@import "reader-view";

@import "configuration";

@import "logs";
@import "stats";

@import "mobile";

html, body{
    font-family: "lato", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
}

@charset "UTF-8";

/*=== GENERAL */
/*============*/
html, body {
	height: 100%;
	background: $grey-light;
}

/*=== Links */
a, button.as-link {
    outline: none;
    color: $main-first;
}









