:root {
	--aside-width: 300px;
}

* {
	font-family: 'Consolas', sans-serif;
}

/* layout */
html, body {
	overflow-x: hidden;
}

aside {
	padding: 1rem;
	width: var(--aside-width);
	height: 100vh;
	border-right: 1px solid black;
	position: fixed;
	top: 0;
	left: 0;
	margin-right: 1rem;
}

aside > nav {
	overflow-y: scroll;
	max-height: 90vh;
}

aside > nav > ul {
	margin-bottom: 10rem; /* extra scroll space */
}

aside ul {
	padding-left: 1rem;
	margin-right: 1rem;
}

main {
	margin-left: calc(var(--aside-width) + 50px);
	max-width: 70vw;
}

img {
	max-width: 100%;
}

section.search {
	margin-top: 1rem;
}

nav.mobile-nav {
	display: none;
}

/* mobile layout */

@media (max-width: 600px) {
	aside {
		display: none;
	}

	aside a#close {
		display: block;
	}

	html:has(aside:target) {
		overflow-y: hidden;
	}

	body:has(aside:target) > a#close {
		display: block;
		cursor: default;
		position: fixed;
		top: 0;
		background-color: black;
		opacity: 0.3;
		width: 100vw;
		height: 100vh;
		z-index: 99; /* just below aside */
	}

	aside:target {
		display: block;
		position: fixed;
		background-color: white;
		z-index: 100;
	}

	main {
		margin-left: 1rem;
		max-width: 90vw;
	}

	nav.mobile-nav {
		display: block;
		border-bottom: 1px dashed black;
	}

	nav.mobile-nav > a.toggle-aside {
		-webkit-tap-highlight-color: transparent;
	}

	nav.mobile-nav > a.toggle-aside svg {
		width: 2rem;
		height: 2rem;
	}
}

/* general styling */
a {
	text-decoration: none;
}

a#close {
	display: none;
}

aside a#close {
	float: right;
	color: red;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, tr, td {
	padding: 0.3rem;
}
