@charset "UTF-8";

/*=== GENERAL */
/*============*/
html, body {
	background: #fafafa;
	height: 100%;
	color: #666;
	font-family: "OpenSans", "Cantarell", "Helvetica", "Arial", "PingFang SC", "Microsoft YaHei", sans-serif;
}

/*=== Links */
a {
	color: #2980b9;
	outline: none;
}

/*=== Forms */
legend {
	margin: 20px 0 5px;
	padding: 5px 0;
	font-size: 1.4em;
	border-bottom: 1px solid #ddd;
}

label {
	min-height: 25px;
	padding: 5px 0;
	cursor: pointer;
}

textarea {
	width: 360px;
	height: 100px;
}

input, select, textarea {
	padding: 1px;
	background: #fdfdfd;
	color: #666;
	border: 1px solid #bbb;
	border-radius: 3px;
	min-height: 25px;
	line-height: 21px;
	vertical-align: middle;
}

option {
	padding: 0 .5em;
}

input:focus, select:focus, textarea:focus {
	outline-color: #aaa;
}

input:invalid, select:invalid {
	border-color: #f00;
	box-shadow: 0 0 2px 2px #fdd inset;
	outline-color: #fdd;
}

input:disabled, select:disabled {
	background: #eee;
}

input.extend {
	transition: width 200ms linear;
}

/*=== Tables */
table {
	border-collapse: collapse;
}

tr, th, td {
	padding: 0.5em;
	border: 1px solid #ddd;
}

th {
	background: #f6f6f6;
}

form td,
form th {
	font-weight: normal;
	text-align: center;
}

/*=== COMPONENTS */
/*===============*/
/*=== Forms */
.form-group.form-actions {
	padding: 5px 0;
	background: #f4f4f4;
	border-top: 1px solid #ddd;
}

.form-group.form-actions .btn {
	margin: 0 10px;
}

.form-group .group-name {
	padding: 10px 0;
	text-align: left;
}

.form-group .group-controls {
	margin-bottom: 10px;
	padding: 5px 0;
	min-height: 25px;

}

.form-group table {
	margin: 10px 220px 0 0;
}

/*=== Buttons */
.stick {
	vertical-align: middle;
	font-size: 0;
	min-width: 215px;
}

.stick input,
.stick .btn {
	border-radius: 0;
}

.stick .btn:first-child,
.stick input:first-child {
	border-radius: 0 3px 3px 0;
}

.stick .btn-important:first-child {
	width: 176px;
}

.stick .btn:last-child,
.stick input:last-child {
	border-radius: 3px 0 0 3px;
}

.stick .btn + .btn,
.stick .btn + input,
.stick .btn + .dropdown > .btn,
.stick input + .btn,
.stick input + input,
.stick input + .dropdown > .btn,
.stick .dropdown + .btn,
.stick .dropdown + input,
.stick .dropdown + .dropdown > .btn {
	border-right: none;

}

.stick .btn + .dropdown > .btn {
	border-right: none;
	border-radius: 3px 0 0 3px;
}

.btn {
	margin: 0;
	padding: 1px 5px;
	background: #fff;
	display: inline-block;
	color: #666;
	font-size: 0.9rem;
	border: 1px solid #aaa;
	border-radius: 3px;
	min-height: 29px;
	min-width: 15px;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
}

a.btn {
	min-height: 25px;
	line-height: 25px;
}

.read_all.btn {
	height: 29px;
}

.btn:hover {
	background: #f0f0f0;
	text-decoration: none;
}

.btn.active,
.btn:active,
.dropdown-target:target ~ .btn.dropdown-toggle {
	background: #eee;
}

.btn-important {
	background: #5cb85c;
	color: #fff;
	border-color: #5cb85c;
	font-weight: normal;
}

.btn-important:hover, .btn-important:active {
	background: #47a447;
	border-color: #47a447;
	box-shadow: none;
}

.btn-attention {
	background: #d9534f;
	color: #fff;
	border: 1px solid #d9534f;
	outline-color: #aaa;
}

.btn-attention:hover {
	background: #d2322d;
	border-color: #d2322d;
}

.btn-attention:active {
	background: #d2322d;
	box-shadow: none;
}

/*=== Navigation */
.nav-list .nav-header,
.nav-list .item {
	height: 2.5em;
	line-height: 2.5em;
	font-size: 0.9rem;
}

.nav-list .item:hover {
	background: #fafafa;
}

.nav-list .item:hover a {
	color: #038;
}

.nav-list .item.active {
	background: #3498db;
	color: #fff;
}

.nav-list .item.active a {
	color: #fff;
}

.nav-list .disable {
	background: #fafafa;
	color: #aaa;
	text-align: center;
}

.nav-list .item > a {
	padding: 0 10px;
}

.nav-list a:hover {
	text-decoration: none;
}

.nav-list .item.empty a {
	color: #f39c12;
}

.nav-list .item.active.empty a {
	background: #f39c12;
	color: #fff;
}

.nav-list .item.error a {
	color: #bd362f;
}

.nav-list .item.active.error a {
	background: #bd362f;
	color: #fff;
}

.nav-list .nav-header {
	padding: 0 10px;
	background: #f4f4f4;
	color: #888;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.nav-list .nav-form {
	padding: 3px;
	text-align: center;
}

.nav-head {
	margin: 0;
	background: #fff;
	background: linear-gradient(to bottom, #fff, #f0f0f0);
	text-align: left;
}

.nav-head .item {
	padding: 5px 10px;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

/*=== Horizontal-list */
.horizontal-list {
	margin: 0;
	padding: 0;
}

.horizontal-list .item {
	vertical-align: middle;
}

/*=== Dropdown */
.dropdown-menu {
	margin: 5px 0 0;
	padding: 5px 0;
	font-size: 0.8rem;
	border: 1px solid #aaa;
	border-radius: 5px;
	text-align: right;
}

.dropdown-menu::after {
	background: #fff;
	width: 10px;
	height: 10px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	content: "";
	position: absolute;
	top: -6px;
	left: 13px;
	z-index: -10;
	transform: rotate(-45deg);
}

.dropdown-header {
	padding: 0 5px 5px;
	color: #888;
	font-weight: bold;
	text-align: right;
}

.dropdown-menu > .item > a,
.dropdown-menu > .item > span,
.dropdown-menu > .item > .as-link {
	padding: 0 22px;
	line-height: 2.5em;
	color: #666;
	font-size: 0.8rem;
}

.dropdown-menu > .item:hover {
	background: #eee;
	color: #666;
}

.dropdown-menu > .item[aria-checked="true"] > a::before {
	font-weight: bold;
	margin: 0 -14px 0 0;
}

.dropdown-menu > .item:hover > a {
	color: #666;
	text-decoration: none;
}

.dropdown-menu .input select,
.dropdown-menu .input input {
	margin: 0 auto 5px;
	padding: 2px 5px;
	border-radius: 3px;
}

.separator {
	margin: 5px 0;
	border-bottom: 1px solid #ddd;
}

/*=== Alerts */
.alert {
	margin: 15px auto;
	padding: 10px 15px;
	background: #f4f4f4;
	color: #aaa;
	font-size: 0.9em;
	border: 1px solid #ccc;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-radius: 5px;
}

.alert-head {
	font-size: 1.15em;
}

.alert > a {
	color: inherit;
	text-decoration: underline;
}

.alert-warn {
	background: #ffe;
	color: #c95;
	border: 1px solid #eeb;
}

.alert-success {
	background: #dfd;
	color: #484;
	border: 1px solid #cec;
}

.alert-error {
	background: #fdd;
	color: #844;
	border: 1px solid #ecc;
}

/*=== Pagination */
.pagination {
	background: #fff;
	text-align: center;
	color: #41444f;
	font-size: 0.8em;
}

.content .pagination {
	margin: 0;
	padding: 0;
}

.pagination .item.pager-current {
	font-weight: bold;
	font-size: 1.5em;
}

.pagination .item a {
	display: block;
	color: #41444f;
	font-style: italic;
	line-height: 3em;
	text-decoration: none;
}

.pagination .item a:hover {
	background: #ddd;
}

.pagination:first-child .item {
	border-bottom: 1px solid #aaa;
}

.pagination:last-child .item {
	border-top: 1px solid #aaa;
}

.pagination .loading,
.pagination a:hover.loading {
	background: url("loader.gif") center center no-repeat #fff;
	font-size: 0;
}

/*=== Boxes */
.box {
	border: 1px solid #aaa;
	border-radius: 5px;
}

.box .box-title {
	margin: 0;
	padding: 5px 10px;
	background: #f6f6f6;
	border-bottom: 1px solid #aaa;
	border-radius: 5px 5px 0 0;
}

.box .box-content {
	max-height: 260px;
}

.box .box-content .item {
	padding: 0 10px;
	font-size: 0.9rem;
	line-height: 2.5em;
}

.box .box-title .configure,
.box .box-content .item .configure {
	visibility: hidden;
}

.box .box-title:hover .configure,
.box .box-content .item:hover .configure {
	visibility: visible;
}

/*=== Tree */
.tree {
	margin: 10px 0;
}

.tree-folder-title {
	margin: 5px;
	padding: 0 10px;
	background: #5bc0de;
	color: #fff;
	font-size: 0.9rem;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-radius: 5px;
	position: relative;
	line-height: 2rem;
}

.tree-folder-title .title {
	background: inherit;
	color: #fff;
}

.tree-folder-title .title:hover {
	text-decoration: none;
}

.tree-folder.active .tree-folder-title {
	background: #39b3d7;
	font-weight: bold;
	font-size: 1rem;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.tree-folder-items > .item {
	padding: 0 10px;
	line-height: 2.5rem;
	font-size: 0.8rem;
}

.tree-folder-items > .item.active {
	background: #5cb85c;
}

.tree-folder-items > .item > a {
	text-decoration: none;
}

.tree-folder-items > .item.active > a {
	color: #fff;
}

/*=== STRUCTURE */
/*===============*/
/*=== Header */
.header {
	background: #41444f;
	height: 85px;
}

.header > .item {
	padding: 10px;
	border-bottom: 1px solid #aaa;
	vertical-align: middle;
	text-align: center;
}

.header > .item.title {
	width: 230px;
}

.header > .item.title h1 {
	margin: 0.5em 0;
}

.header > .item.title h1 a, a.signin {
	text-decoration: none;
	color: #c5c6ca;
}

.header > .item.search input {
	width: 230px;
	height: 29px;
	box-sizing: border-box;
}

.header > .item.search button {
	box-sizing: border-box;
	height: 29px;
}

.header .item.search input:focus {
	width: 350px;
}

/*=== Body */
#global {
	height: calc(100% - 85px);
}

.aside {
	background: #fff;
	border-left: 1px solid #aaa;
}

.aside.aside_feed {
	padding: 10px 0;
	text-align: center;
}

.aside.aside_feed .tree {
	margin: 10px 0 50px;
}

/*=== Aside main page (categories) */
.aside_feed .tree-folder-title > .title:not([data-unread="0"])::after {
	padding: 0px 5px;
	font-size: 0.8rem;
	border: 1px solid #fff;
	border-radius: 3px;
	position: absolute;
	top: 0.25rem; left: 3px;
	line-height: 1.5rem;
}

.aside_feed .tree-folder.all .tree-folder-title {
	background: #428bca;
}

.aside_feed .tree-folder.all.active .tree-folder-title {
	background: #3276b1;
}

.aside_feed .tree-folder.favorites .tree-folder-title {
	background: #f0ad4e;
}

.aside_feed .tree-folder.favorites.active .tree-folder-title {
	background: #ed9c28;
}

/*=== Aside main page (feeds) */
.feed.item.empty.active {
	background: #e67e22;
}

.feed.item.error.active {
	background: #bd362f;
}

.feed.item.empty,
.feed.item.empty > a {
	color: #e67e22;
}

.feed.item.error,
.feed.item.error > a {
	color: #bd362f;
}

.feed.item.empty.active,
.feed.item.error.active,
.feed.item.empty.active > a,
.feed.item.error.active > a {
	color: #fff;
}

.aside_feed .tree-folder-items .dropdown-menu::after {
	right: 2px;
}

.aside_feed .tree-folder-items .item .dropdown-target:target ~ .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item:hover .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item.active .dropdown-toggle > .icon {
	border-radius: 3px;
	background-color: #fff;
}

/*=== Configuration pages */
.post {
	padding: 10px 50px;
	font-size: 0.9em;
}

.post form {
	margin: 10px 0;
}

.post.content {
	max-width: 550px;
}

/*=== Prompt (centered) */
.prompt {
	max-width: 20rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: .5rem;
	padding-left: .5rem;
	text-align: center;
}

.prompt form {
	margin-top: 2rem;
	margin-bottom: 3rem;
	text-align: right;
}

.prompt .form-group {
	margin-bottom: 1rem;
}

.prompt .form-group::after {
	display: none;
}

.prompt .form-group.form-group-actions {
	display: flex;
	margin-top: 2rem;
	align-items: center;
	justify-content: space-between;
}

.prompt .stick,
.prompt input {
	width: 100%;
	box-sizing: border-box;	
}

.prompt .btn.btn-important {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	font-size: 1.1rem;
}

.prompt p {
	margin: 20px 0;
}

/*=== New article notification */
#new-article {
	background: #428bca;
	text-align: center;
	font-size: 0.9em;
}

#new-article:hover {
	background: #3276b1;
}

#new-article > a {
	line-height: 3em;
	color: #fff;
	font-weight: bold;
}

#new-article > a:hover {
	text-decoration: none;
}

/*=== Day indication */
.day {
	padding: 0 10px;
	background: #fff;
	color: #666;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	line-height: 3em;
}

#new-article + .day {
	border-top: none;
}

.day .name {
	padding: 0 0 0 10px;
	color: #666;
	font-size: 1.8em;
	opacity: 0.3;
	font-style: italic;
	text-align: left;
}

/*=== Index menu */
.nav_menu {
	padding: 5px 0;
	background: #fafafa;
	border-bottom: 1px solid #aaa;
	text-align: center;
}

/*=== Feed articles */
.flux {
	background: #fafafa;
	border-right: 3px solid #5cb85c;
}

.flux:hover {
	background: #fff;
}

.flux.current {
	background: #fff;
	border-right: 3px solid #39b3d7;
}

.flux.not_read {
	border-right: 3px solid #d9534f;
}

.flux .item.title a, .flux.not_read:not(.current):hover .item.title {
	color: #333;
}

.flux.favorite {
	border-right: 2px solid #428bca;
}

.flux.favorite:not(.current) {
	background: #fff6da;
}

.flux.favorite:not(.current):hover .item.title {
	background: #fff6da;
}

.flux_header {
	font-size: 0.8rem;
	border-top: 1px solid #ddd;
	cursor: pointer;
}

.flux_header .title {
	font-size: 0.9rem;
}

.flux .website .favicon {
	padding: 5px;
}

.flux .item.date {
	color: #666;
	font-size: 0.7rem;
}

.flux .bottom {
	font-size: 0.8rem;
	text-align: center;
}

/*=== Content of feed articles */
.content {
	padding: 20px 10px;
}

.content > h1.title > a {
	color: #333;
}

.content hr {
	margin: 30px 10px;
	background: #ddd;
	height: 1px;
	border: 0;
	box-shadow: 0 2px 5px #ccc;
}

.content pre {
	margin: 10px auto;
	padding: 10px 20px;
	overflow: auto;
	background: #222;
	color: #fff;
	font-size: 0.9rem;
	border-radius: 3px;
}

.content code {
	padding: 2px 5px;
	background: #fafafa;
	color: #d14;
	border: 1px solid #eee;
	border-radius: 3px;
}

.content pre code {
	background: transparent;
	color: #fff;
	border: none;
}

.content blockquote {
	margin: 0;
	padding: 5px 20px;
	background: #fafafa;
	display: block;
	color: #41444f;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.content blockquote p {
	margin: 0;
}

/*=== Notification and actualize notification */
.notification {
	padding: 0 5px 0 0;
	font-size: 0.9em;
	border: 1px solid #eeb;
	border-radius: 3px;
	box-shadow: 0 0 5px #ddd;
	text-align: center;
	font-weight: bold;
	line-height: 3em;
	z-index: 10;
	vertical-align: middle;
}

.notification.good {
	background: #ffe;
	color: #c95;
	border: 1px solid #eeb;
}

.notification.bad {
	background: #fdd;
	color: #844;
	border: 1px solid #ecc;
}

.notification a.close {
	padding: 0 15px;
	line-height: 3em;
}

.notification.good a.close:hover {
	background: #eeb;
}

.notification.bad a.close:hover {
	background: #ecc;
}

.notification#actualizeProgress {
	line-height: 2em;
}

/*=== "Load more" part */
#bigMarkAsRead {
	background: #fafafa;
	color: #666;
	text-align: center;
	text-decoration: none;
}

#bigMarkAsRead:hover {
	background: #f0f0f0;
	color: #000;
}

#bigMarkAsRead:hover .bigTick {
	/*	text-shadow: 0 0 10px #666;*/
}

/*=== Navigation menu (for articles) */
#nav_entries {
	margin: 0;
	background: #fff;
	border-top: 1px solid #ddd;
	text-align: center;
	line-height: 3em;
	table-layout: fixed;
}

#nav_entries .item:hover {
	background: #eee	;
}
/*=== READER VIEW */
/*================*/
#stream.reader .flux {
	padding: 0 0 50px;
	background: #f0f0f0;
	color: #41444f;
	border: none;
}

#stream.reader .flux .author {
	margin: 0 0 10px;
	color: #666;
	font-size: 90%;
}

/*=== GLOBAL VIEW */
/*================*/
.box.category .box-title .title {
	font-weight: normal;
	text-decoration: none;
	text-align: right;
}

.box.category:not([data-unread="0"]) .box-title {
	background: #5bc0de;
}

.box.category:not([data-unread="0"]) .box-title .title {
	font-weight: bold;
	color: #fff;
}

.box.category .title:not([data-unread="0"])::after {
	background: none;
	font-size: 0.8rem;
	border: 0;
	box-shadow: none;
	position: absolute;
	top: 5px; left: 10px;
	font-weight: bold;
	text-shadow: none;
	line-height: 1.6rem;
}

.box.category .item.feed {
	padding: 2px 10px;
	font-size: 0.8rem;
}

/*=== DIVERS */
/*===========*/
.aside.aside_feed .nav-form input,
.aside.aside_feed .nav-form select {
	width: 140px;
}

.aside.aside_feed .nav-form .dropdown .dropdown-menu {
	left: -20px;
}

.aside.aside_feed .nav-form .dropdown .dropdown-menu::after {
	left: 33px;
}

/*=== STATISTICS */
/*===============*/
.stat {
	margin: 10px 0 20px;
}

.stat th,
.stat td,
.stat tr {
	border: none;
}

.stat > table td,
.stat > table th {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.stat > .horizontal-list {
	margin: 0 0 5px;
}

.stat > .horizontal-list .item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.stat > .horizontal-list .item:first-child {
	width: 250px;
}

/*=== LOGS */
/*=========*/
.loglist {
	border: 1px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
}

.log {
	padding: 5px 10px;
	background: #fafafa;
	color: #41444f;
	font-size: 0.8rem;
}

.log+.log {
	border-top: 1px solid #aaa;
}

.log .date {
	display: block;
	font-weight: bold;
}

.log.error {
	background: #fdd;
	color: #844;
}

.log.warning {
	background: #ffe;
	color: #c95;
}

.log.notice {
	background: #f4f4f4;
	color: #aaa;
}

.log.debug {
	background: #41444f;
	color: #eee;
}

/*=== MOBILE */
/*===========*/

@media (max-width: 840px) {
	.form-group .group-name {
		padding-bottom: 0;
		text-align: right;
	}

	.box .box-title .configure,
	.box .box-content .item .configure {
		visibility: visible;
	}

	.aside {
		transition: width 200ms linear;
	}

	.aside:target {
		box-shadow: -3px 0 3px #aaa;
	}

	.aside .toggle_aside,
	#panel .close {
		background: #f6f6f6;
		display: block;
		width: 100%;
		height: 40px;
		border-bottom: 1px solid #ddd;
		line-height: 40px;
		text-align: center;
	}

	.aside.aside_feed {
		padding: 0;
	}

	.nav_menu .btn {
		margin: 5px 10px;
	}

	.nav_menu .stick {
		margin: 0 10px;
		min-width: max-content;
	}

	.nav_menu .stick .btn {
		margin: 5px 0;
	}

	.nav_menu .search {
		display: inline-block;
		max-width: 97%;
	}

	.nav_menu .search input {
		max-width: 97%;
		width: 90px;
	}

	.nav_menu .search input:focus {
		width: 400px;
	}

	.day .name {
		font-size: 1.1rem;
		text-shadow: none;
	}

	.pagination {
		margin: 0 0 3.5em;
	}

	.notification a.close {
		background: transparent;
		display: block;
		right: 0;
	}

	.notification a.close:hover {
		opacity: 0.5;
	}

	.notification a.close .icon {
		display: none;
	}

	.post {
		padding-right: 15px;
		padding-left: 15px;
	}
}
