.btn:hover {
	background: unset !important;
	border-color: #ff449a !important;
	color: unset !important;
}

.btn-important {
	background: #ffb6c1 !important;
	color: #000 !important;
	border-color: #ffa1af !important;
}

.btn-important:hover {
	background: #ffa1af !important;
	color: #000 !important;
}

.switch.active {
	background-color: #ffb6c1 !important;
}

.nav-list .item.active a {
	color: #ffb6c1 !important;
}

.tree-folder.active .tree-folder-title .title {
	color: #ffb6c1 !important;
}

.aside_feed .tree-folder-items .item .dropdown-target:target ~ .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item.active .dropdown-toggle > .icon {
	background-color: #000 !important;
}

#new-article {
	background: #ffa1af !important;
}

#new-article > a {
	color: #000 !important;
}

#new-article > a:hover {
	background: #ff92a2 !important;
}

.day {
	color: #ffb6c1 !important;
}

.day .name {
	color: #ffb6c1 !important;
}

.flux.current {
	border-color: #787394 !important;
}

.content hr {
	box-shadow: 0 2px 5px #ffb6c1 !important;
}

#bigMarkAsRead {
	color: #787394 !important;
}

.nav label {
	color: #4f5e78 !important;
}