.btn:hover {
	background: unset !important;
	border-color: #ff449a !important;
	color: unset !important;
}

.btn-important {
	background: #ffb6c1 !important;
	color: #000 !important;
	border-color: #ffa1af !important;
}

.btn-important:hover {
	background: #ffa1af !important;
	color: #000 !important;
}

.switch.active {
	background-color: #ffb6c1 !important;
}

.nav-list .item.active a {
	color: #ffb6c1 !important;
}

.tree-folder.active .tree-folder-title .title {
	color: #ffb6c1 !important;
}

.aside_feed .tree-folder-items .item .dropdown-target:target ~ .dropdown-toggle > .icon,
.aside_feed .tree-folder-items .item.active .dropdown-toggle > .icon {
	background-color: #000 !important;
}

#new-article {
	background: #ffa1af !important;
}

#new-article > a {
	color: #000 !important;
}

#new-article > a:hover {
	background: #ff92a2 !important;
}

.day {
	color: #ffb6c1 !important;
}

.day .name {
	color: #ffb6c1 !important;
}

.flux.current {
	border-color: #787394 !important;
}

.content hr {
	box-shadow: 0 2px 5px #ffb6c1 !important;
}

#bigMarkAsRead {
	color: #787394 !important;
}

.nav label {
	color: #4f5e78 !important;
}

.dropdown-menu::after {
	border-color: #ffb6c1;
}

/*=== Change icon colors */
.header > .item.title .logo {
	/* Color FreshRSS logo */
	filter: sepia(62%) brightness(107%) hue-rotate(315deg) saturate(248%) contrast(104%) invert(100%) !important;
}

.all .tree-folder-title .icon,
.category .tree-folder-title .icon,
#toggle-read .icon,
#toggle-non-starred .icon,
#mark-read-menu .dropdown-toggle .icon,
.link a .icon,
.manage .bookmark .icon,
.manage .read .icon[src*="/read"],
.horizontal-list .item .icon[src*="/tag"],
.horizontal-list .item .icon[src*="/share"],
.signout .icon,
.help .icon,
.configure .icon {
	/* Color dark grey icons */
	filter: sepia(21%) brightness(44%) hue-rotate(112deg) saturate(1000%) contrast(132%) invert(100%) !important;
}

.view-normal .icon,
.view-global .icon,
.view-reader .icon,
.view-rss .icon,
#toggle-order .icon,
#actualize .icon,
#search .btn .icon,
nav .item .dropdown-toggle .icon,
#nav_menu_actions .dropdown-toggle .icon,
.configure .dropdown-toggle .icon,
.search .stick .icon,
.open-slider .icon,
.toggle-password .icon {
	/* Color light grey icons */
	filter: sepia(62%) brightness(47%) hue-rotate(116deg) saturate(1000%) contrast(119%) invert(100%) !important;
}

.favorites .tree-folder-title .icon {
	/* Exclude these from coloring */
	filter: unset !important;
}

#btn-add > img {
	filter: invert(100%) !important;
}